<section id="test_main">
  <article id="home_hero_unit" class="hero-unit">
    <h1>A NEW HORIZON IS COMING...</h1>
    <article id="email_signup">
      <%= render 'email_digest_readers/signup' %>
    </article>
  </article>
</section>