<section id="home_main">
  <article id="home_hero_unit" class="hero-unit">
    <h1>A NEW HORIZON IS COMING...</h1>
    <article id="email_signup">
      <%= render 'email_digest_readers/signup' %>
    </article>
    <iframe src="//player.vimeo.com/video/83994553" width="500px" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </article>
</section>