<section id="press_main">
  <div class="container">
    <header>
      <div class="row-fluid">
        <div class="span6">
          <h1>PRESS RELEASES</h1>
        </div>
        <div class="span6">
          <h4>For all media inquiries, contact <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a></h4>
        </div>
      </div>
    </header>
    <section id="press_releases">
      <article id="4/17/15">
        <div id="6" class="visible_content">
          <h3>March 17, 2015</h3>
          <h4>Dual Aperture International Receives Strategic Investment from SK Telecom and Collaborates with Daejeon Creative Economy Innovation Center</h4>
          <h5>Leading technology brands break into virtual reality realm through collaboration on a smart 3D camera</h5>
          <p>Palo Alto, CA and Seoul, Korea (March 17, 2015) – Dual Aperture International (“DAI”) today announced a strategic partnership with SK Telecom (“SKT”) in an effort to accelerate development of DAI’s smart 3D camera technology based on dual aperture 4-color (RGB-IR) sensors. SKT becomes a strategic investor and partner to DAI alongside a $1.4 million USD investment, joining the previously closed Series A funding round led by leading Korean venture capital fund, Value Invest Korea.
          </p>
          <a href="#" id="6" class="continue_reading">Continue reading</a>
        </div>
        <div id="6" class="invisible_content hide">
          <p>SKT will develop applications and additional use cases for DAI’s 3D image capture, virtual reality and image enhancement technologies. Prof. Chong-Min Kyung, CTO of DAI, commented that, “SKT is a global technology leader with the size and expertise to accelerate DAI’s product implementation into global industries spanning mobile, medical, security and automotives. Korea already has a strong technological position in these growing industries, and the partnership between SKT and DAI will only further improve Korea’s ability to provide innovative technologies and solutions to these markets.”
          </p>
          <p>By sharing in the common belief of developing a global technology company through growth of its proprietary intellectual property, DAI is set to change the paradigm of jobs creation within Korea alongside the Creative Economy initiative led by the Korean government. DAI’s patented Dual Aperture camera technology delivers multiple functions, low energy consumption, and low-costs on top of the built-in 3D image capture and imaging enhancements, which is all enabled by its innovative 4-color image sensor and proprietary depth estimation algorithm. DAI’s solution also allows single sensor cameras to obtain 3D image information; a preferable solution to cumbersome two sensor solutions.
          </p>
          <p>SKT has also established the Creative Economy & Innovation Center (the ‘SKT CEI Center’) in Daejeon, Korea (where DAI is headquartered) since 2014 to promote the Creative Economy by incubating venture companies that can generate both revenue and employment opportunities. SKT has grown its CEI Center into an essential player in the Creative Economy by starting an overseas expansion program in March 2015. The SKT CEI Center is also fostering a start-up ecosystem based on the technologies and patents from the Daeduck Science Park.
          </p>
          <p>Myungsoon Park, Senior Vice President, Future Technology R&D Center of SKT, said, “We expect to elevate our strength to develop core technologies for new products needed for SKT’s growth business through partnership with DAI. SKT will continue to seek opportunities to collaborate with technology companies. We will make model cases for Creative Economy by developing mutually beneficial relations with small but strong, innovative companies like DAI.”
          </p>
          <p>DAI and SKT will collaborate under the common goal of enabling IP businesses to succeed in the creative economy. In particular,
            <ul>
              <li>In Korea, DAI will continue to refine its own technology while SKT, with its global Research and Development experience, will help define new applications for 3D cameras.
              </li>
              <li>In US, DAI and SK Telecom Americas (SKTA) will jointly set up a consumer applications development lab under SKTA’s Innopartners program in order to recruit innovators to develop new 3D, virtual reality, image related applications for various markets including Mobile, Medical, Security and Automobile applications.
              </li>
            </ul>
          </p>
          <p>DAI will also collaborate with Daejeon Creative Economy Innovation Center of the Ministry of Science, ICT and Future Planning, in actively looking for technologies and patents to foster globally competitive start-ups.
          </p>
          <br>
          <p><h5>About Dual Aperture International</h5>
            DAI was formed by a joint venture between Silicon Valley’s Dual Aperture, Inc. (“DA”) and the Center for Integrated Smart Sensors (“CISS”), Korea’s leading-edge research institute affiliated with Korea Advanced Institute of Science and Technology. DA was founded by Dr. David D. Lee who was inducted into CEA Hall of Fame in 2014 for his contribution in leading the HDMI standardization. CISS was established as a Global Frontier Project Agency under the Ministry of Science, ICT and Future Planning in 2011, to research and develop the next-generation smart sensors. The Ministry grants CISS headed by Prof. Chong-Min Kyung ten million dollars a year for 9 years to lead the Global Frontier R&D to develop the smart IT convergence technology beyond the existing paradigm of IT technology. With its proprietary dual-aperture RGB-IR sensor technology and algorithms, DAI utilizes 3D image capturing and other imaging enhancements to create a multi-functional, low cost smart sensor technology that can be integrated into many consumer, automotive, and industrial products. DAI's unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience. For more information, visit: www.dual-aperture.com.
          </p>
          <br>
          <p><h5>About SK Telecom</h5>
            SK Telecom (NYSE: SKM, KSE: 017670), established in 1984, is Korea’s largest telecommunications company with more than 27 million mobile subscribers, accounting for over 50% of the market. The company reached KRW 16.602 trillion in revenue in 2013. As the world’s first company to commercialize CDMA, CDMA 2000 1x, CDMA EV-DO and HSDPA networks, SK Telecom launched the nation’s first LTE service in July 2011. SK Telecom also became the world’s first mobile carrier to launch 150Mbps LTE-Advanced and on June 26, 2013 and 225Mbps LTE-Advanced on June 19, 2014 through Carrier Aggregation. Backed by rapid nationwide deployment, a rich device lineup and diverse mobile value added services, the company secured over 16.3 million LTE and LTE-Advanced subscribers as of October 2014. Also, based on its strength in network operations business, SK Telecom is seeking new growth engines by building ICT convergence business models in areas of mobile, medical, security and automobiles. For more information, please visit www.sktelecom.com.
          </p>
          <p><strong>Press Contacts</strong>
            Sally Chan<br>
            Dual Aperture International <br>
            <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a>

            SK Telecom<br>

            <a href="mailto:press@sktelecom.com">press@sktelecom.com</a>
          </p>
          <a href="#" id="6" class="collapse">Collapse all</a>          
        </div>
      </article>
      <article id="11/19/14">
        <div id="5" class="visible_content">
          <h3>November 19, 2014</h3>
          <h4>New Smart Camera Technology Startup Dual Aperture International Raises $5.7 Million in Series A Funding Led by VIK</h4>
          <p>
            Dual Aperture International(DAI) announced today the assembly of industry and academic stars to take on the next challenges in digital imaging and camera technologies. To execute its vision, DAI has raised $5.7 million in Series A funding led by Value Invest Korea (VIK), a leading strategic investment firm based in Seoul, South Korea.  eWBM, a licensee of DAI’s technology, also participated in the round.
          </p>
          <a href="#" id="5" class="continue_reading">Continue reading</a>
        </div>
        <div id="5" class="invisible_content hide">
          <p>
            DAI was formed by combining Dual Aperture, Inc. of Silicon Valley and the leading edge academic research institute of KAIST - Center for Integrated Smart Sensors (CISS). Korea Advanced Institute of Science and Technology (KAIST) is the leading university in Korea dedicated to technological advancement with $10 million in annual government funding to support advancement in smart sensor technology.
          </p>
          <p>
            Dual Aperture International is led by Dr. David Lee, founder of Silicon Image, whose HDMI technology is currently being used in over 4 billion consumer electronic products, and recent inductee of the Consumer Electronics Hall of Fame (class of 2014) for his pioneering work on DVI/HDMI technology. His counterpart at KAIST is Professor Chong-Min Kyung, head of CISS and Professor at KAIST.
          </p>
          <p>
            “We are thrilled to announce VIK as our newest investor,” said Dr. Lee. “Today, social interaction is centered around photo and video capture.  Mobile phone companies and social platforms are highlighting their strengths in camera and image technologies as an important differentiator.  Dual Aperture’s technology will bring richer and more informative social interaction capabilities to consumers and I hope it will be utilized in more products than HDMI by 2020. The new funding enables us to bring products targeting various applications into the marketplace by 2016.”
          </p>
          <p>
            Cheol Lee, CEO of VIK also comments, “In the past few years, many companies have tried to enable low-cost and low-power 3-D image capture, depth estimation and gesture tracking.  We think it’s time to approach the problem anew. We see Dual Aperture’s technology as a game changer and with the engineering resources and world class engineers of CISS, we see an opportunity for Dual Aperture International to disrupt the imaging business in mobile and beyond.”
          </p>
          <p>
            CISS assembled a team of more than 30 industry veterans and graduate students in camera and image research to support Dual Aperture International.
          </p>
          <p>
            “Korea is the ideal place to develop new imaging technologies because of the presence of leading mobile phone companies such as Samsung and LG that are committed to improving their camera technologies for their smart mobile and wearable products, cutting-edge innovation coming out of Korean research universities, and ties to investors like VIK who are strategically well-positioned with their connections to CISS and deep knowledge of mobile technologies.” said Professor Kyung.            
          </p>
          <br>
          <h5>About Dual Aperture International</h5>
          <p>
            Dual Aperture International, a joint venture created by Dual Aperture and the Center for Integrated Smart Sensors, is positioned to lead innovation within the imaging technology space. With its proprietary dual-apertured RGB-IR sensor technology and algorithms, DAI utilizes 3D image capturing and other imaging enhancements to create a multi-functional, low cost smart sensor technology that can be integrated into many consumer, automotive, and industrial products. DAI's unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience. For more information, visit:
          </p>
          <h5>About Value Invest Korea</h5>
          <p>
            Value Invest Korea(VIK) is a strategic investment firm that supports the Korean government development by investing in emerging domestic small and mid-size enterprises. VIK is positioned to accelerate the growth of SMEs with their deep knowledge of advanced financial techniques, growth capital investing, project financing, and strategic investing. VIK is proud of its talented and passionate investment professionals whose extensive experience enables service offerings in the realms of corporate valuation, mergers and acquisitions, IPO proceedings, and many others.
          </p>
          <p>
            VIK helps companies grow from start-up to IPO via a holistic support system built upon management and technical support, which includes management consulting services, funding, and measuring KPIs to ensure ongoing growth. Armed with access to bleeding-edge information and the best financial minds within the industry, VIK has invested more than any other firm in Korea in a network that can quickly access and deliver services tailored to the customer's vision while ensuring stable growth in revenue.
          </p>
          <h5>About eWBM</h5>
          <p>
            eWBM Co, Ltd is a SoC solution company specialized in DSP technology to have been developing gesture recognition SoC solutions using eWBM’s proprietary DSP core optimized for gesture recognition algorithm. eWBM is working closely with Dual Aperture for 4-color sensor system using its DSP technology.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a>
          </p>
          <a href="#" id="5" class="collapse">Collapse all</a>          
        </div>
      </article>
      <article id="6/18/14">
        <div id="4" class="visible_content">
          <h3>June 18, 2014</h3>
          <h4>Dual Aperture Announces Joint Venture with KAIST's Center for Integrated Smart Sensors</h4>
          <h5>Image technology leader and top research institute collaborate engineering resources to create world's first-ever smart sensor technology</h5>
          <p>
            PALO ALTO, Calif., June 18, 2014 /PRNewswire/ -- Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, announces today a joint venture with the Center for Integrated Smart Sensors (CISS) that will more than double the engineering resources dedicated to commercializing Dual Aperture's 3-D imaging technology.  A research institute supported by the Korea Advanced Institute of Science and Technology (KAIST), the leading university in Korea dedicated to technological advancement, CISS is at the forefront of overcoming the stagnant growth of information technology through the development of innovative devices, circuits, and sensors. By combining top talents in engineering, the partnership between Dual Aperture and CISS will establish a groundbreaking smart sensor technology accessible on multiple platforms and devices.
          </p>
          <a href="#" id="4" class="continue_reading">Continue reading</a>
        </div>
        <div id="4" class="invisible_content hide">
          <p>
            Dual Aperture's disruptive image sensor technology is derived from its innovative 4-color sensor that is equipped with a dual aperture design, which is comprised of RGB and IR (Infra-red) pixels, in comparison to the traditional Bayer pattern. The sensor also uses separate apertures for the respective RGB and IR pixels, thereby capturing data for two distinct images -- one each in the RGB and the IR spectrums -- with different levels of sharpness. Dual Aperture's technology uses a single, low power, small form factor sensor and is poised to disrupt the current standard of utilizing two sensors to capture 3-D information. By capturing visual image data in addition to infrared spectrums, Dual Aperture's camera can potentially offer many built-in features to generate real-time 3D depth information.
          </p>
          <p>
            Dual Aperture's promising image sensor technology is one of the key reasons behind CISS' decision to partner with Dual Aperture. Alongside CISS' own expertise in low-energy smart camera, the two entities can successfully mass market the adoption of smart sensor technology based on Dual Aperture's 4-color sensor in various medical, biological, and security applications to provide gesture tracking, 3D scanning, and high-quality photography. Additionally, the small form factor enables usage of the technology in mobile and other wearable devices.
          </p>
          <p>
            "Dual Aperture is looking forward to collaborating with CISS in hopes that their world-class engineering resources can accelerate the commercialization of Dual Aperture 3-D and smart sensor technology", saidDavid D. Lee, CEO of Dual Aperture, Inc. "I worked closely with other universities in Korea while developing the core technology behind HDMI, and CISS is the perfect partner with Korea's open policy of collaboration between academics and businesses."
          </p>
          <p>
            Professor Chong-Min Kyung, CEO of CISS and Professor at KAIST, adds, "CISS receives collaboration proposals from all over the world and when we examined Dual Aperture's technology, we jumped at the opportunity to build on what we believe to be truly disruptive technology for smart cameras and smart sensors. We are extremely excited to work with Dual Aperture for the advancement of RGB-IR technology."
          </p>
          <br>
          <h5>About Center for Integrated Smart Sensor</h5>
          <p>
            Located in Daedeok Science Town in South Korea, CISS is a research institution to further advance fundamental research in smart sensors.  CISS receives more than $10 million in funding per year from the Korean government as Global Frontier Project and has more than 300 participating engineers.  For more information, visit CISS at <a href="http://ciss.re.kr/.">http://ciss.re.kr.</a>
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary dual-apertured RGB-IR sensor technology. Dual Aperture's proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture's unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience. For more information, visit <a href="http://www.dual-aperture.com/">www.dual-aperture.com.</a>
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a>
          </p>
          <a href="#" id="4" class="collapse">Collapse all</a>          
        </div>
      </article>
      <article id="4/29/14">
        <div id="3" class="visible_content">
          <h3>Apr 29, 2014</h3>
          <h4>Ability Enterprise and Dual Aperture Announce Collaboration on 3D Sensor Modules</h4>
          <h5>Leading Digital Camera Provider Expands Product Portfolio by Licensing Dual Aperture’s 3D Information Capture Technology</h5>
          <p>
            Palo Alto, Calif. (April 29, 2014) – Ability Enterprise Co., Ltd. (2374.TW), a leader in camera modules for mobile, PC, and TV electronics, announces today its collaboration with Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, to build a complete camera that can take sharp, reduced-noise pictures with real-time depth information capture. Dual Aperture’s innovative technology utilizes a single, low-power, small form factor sensor instead of stereoscopic sensors, proving to have significant advantages over current 3D technologies that use multiple sensors.
          </p>
          <a href="#" id="3" class="continue_reading">Continue reading</a>
        </div>
        <div id="3" class="invisible_content hide">
          <p>
            Dual Aperture’s evolutionary image sensor technology utilizes a proprietary 4-color sensor design comprised of RGB and IR (infrared) pixels. Built with separate apertures for the RGB and IR pixels, the sensor is able to generate two distinct images, one in the RGB spectrum and the other in the IR, with a single capture.
          </p>
          <p>
            Ability Enterprise and Dual Aperture partner together on a technology licensing agreement whereby Ability Enterprise will incorporate Dual Aperture’s 4-color sensor technology, image processing algorithms and various application software, into their latest line of camera module products. These technologies will enable:
          </p>
          <ul>
            <li>Reconstruction of high-quality color image from a 4-color sensor</li>
            <li>Noise reduction and image sharpening</li>
            <li>Accurate depth estimation of captured objects</li>
            <li>Real-time touch refocusing of pictures</li>
            <li>Real-time 3D image pair generation</li>
            <li>Precise gesture tracking using a low-power, single sensor</li>
          </ul>
          <p>
            Ability Enterprise joins Dual Aperture’s existing partnerships with eWBM (processors) and Silicon File Technologies (sensors). “Ability is always looking for the best new technologies to provide our customers. Dual Aperture's technology will enable real-time 3D depth estimation and gesture tracking in a camera at a mass market scale because of its low costs and low power consumption,” said Roger Tseng, Chairman and CEO of Ability Enterprise. “We are excited to partner with Dual Aperture and combine our respective technologies to help enable our customers to distinguish their products.”
          </p>
          <p>
            David D. Lee, CEO of Dual Aperture, Inc. also added that “Dual Aperture is looking forward to having Ability Enterprise as a strategic partner in developing commercial products for various other markets, such as PC, TV, and mobile. Because of its small form factor and low power usage, Dual Aperture’s 4-color sensor technology can be used in various consumer devices such as smart phones, tablets, PCs, TVs, as well as in applications built for security and automobiles."
          </p>
          <p>
            Under the agreement, Ability and Dual Aperture will work closely to provide complete solutions to Ability Enterprise’s customers.
          </p>
          <br>
          <h5>About Ability Enterprise Co., Ltd.</h5>
          <p>
            Founded in Taipei, Taiwan in 1965, Ability Enterprise, part of Abico Group, is the leading provider of digital still cameras, digital video cameras, and camera modules worldwide. Ability has been providing OEM/ODM services to several Japanese customers, such as Canon, Nikon and etc., with optical products such as the PC Web Cam and the digital camera. Ability Enterprise is a public company in Taiwan with annual sales of NT$15.2B (US$450M) in 2005 and owns production facilities in Taiwan and China. For more information, visit Ability Enterprise at: <a href="http://www.abico.com.tw.">www.abico.com.tw.</a>
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary Dual Aperture RGB-IR sensor technology. Dual Aperture’s proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture’s unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a>
          </p>
          <a href="#" id="3" class="collapse">Collapse all</a>          
        </div>
      </article>
      <article id="3/26/14">
        <div id="2" class="visible_content">
          <h3>Mar 26, 2014</h3>
          <h4>eWBM and Dual Aperture Collaborate on New Software and Hardware Integration</h4>
          <h5>Dual Aperture welcomes a new semiconductor partner to optimize its 3D information capture technology</h5>
          <p>
            Palo Alto, Calif. (March 26, 2014) -- Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, today announces its collaboration with eWBM Co., Ltd., a system on chip (SoC) solution company specializing in Digital Signal Processors (DSP) technology, to develop an optimized software and semiconductor product in hopes to offer superior camera solutions that enable high quality image capture, refocusing, 3D image generation, depth estimation and gesture tracking applications. In conjunction with the previously announced partnership with Silicon File Technologies, Dual Aperture and eWBM will create an optimized solution with industry leading accuracy while using a single low power, small form factor sensor.
          </p>
          <a href="#" id="2" class="continue_reading">Continue reading</a>
        </div>
        <div id="2" class="invisible_content hide">
          <p>
            Dual Aperture’s new image sensor technology is made possible by its innovative 4-color sensor design. Abandoning the traditional Bayer pattern, Dual Aperture’s 4-color sensor is comprised of RGB and IR (Infra-red) pixels. The sensor also uses separate apertures for RGB and IR pixels, thereby capturing data for two distinct images - one each in the RGB and the IR spectrums with varying sharpness.          
          </p>
          <p>
            eWBM and Dual Aperture have agreed on a licensing agreement and strategic partnership whereby eWBM licenses Dual Aperture’s proprietary image processing algorithms and will provide engineering resources to further improve the function of Dual Aperture’s technology at the DSP level. These technologies will enable:          
          </p>
          <ul>
            <li>Image generation and enhancement</li>
            <li>Depth map generation</li>
            <li>Gesture tracking</li>
          </ul>
          <p>
            “eWBM specializes on custom DSP IC development for gesture tracking and wants to implement Dual Aperture's technology on our products. We have looked at many other solutions, but Dual Aperture's technology was by far the best solution to address richer interaction with smart devices.” said Dr. Stephen Oh, CEO of eWBM Co., Ltd. “We are excited to work with Dual Aperture and Silicon File to address the growing market for an integrated camera, 3D and gesture recognition in one form factor.”          
          </p>
          <p>
            Dr. David D. Lee, CEO of Dual Aperture, Inc. also adds that “Dual Aperture is looking forward to working closely with eWBM to have an optimized software and semiconductor solution for our common customers. In addition to Silicon File (recently merged by SK Hynix Co., Ltd.) supplying 4-color sensors, Dual Aperture now has a partner who can produce low-cost, high-performance DSP IC that implements Dual Aperture's algorithms for 3D and gesture tracking. Because of its small form factor and low power usage, Dual Aperture’s 4-color sensor technology can be used in various consumer devices including smart phones, tablets, PCs, TVs and automobile applications, and an optimized semiconductor solution from eWBM only enhances the Dual Aperture advantage."
          </p>
          <p>
            Under the agreement, eWBM and Dual Aperture will work side by side to optimize Dual Aperture’s algorithms with DSP based camera systems.          
          </p>
          <br>
          <h5>About eWBM</h5>
          <p>
            eWBM Co, Ltd is a SoC solution company specialized in DSP technology to have been developing gesture recognition SoC solutions using eWBM’s proprietary DSP core optimized for gesture recognition algorithm. eWBM is working closely with Dual Aperture for 4-color sensor system using its DSP technology.          
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary Dual Aperture RGB-IR sensor technology. Dual Aperture’s proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture’s unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a>
          </p>
          <a href="#" id="2" class="collapse">Collapse all</a>
        </div>
      </article>
      <article id="9/11/13">
        <div id="1" class="visible_content">
          <h3>Oct 8, 2013</h3>
          <h4>Silicon File Technologies and Dual Aperture Agree to Collaborate on Low Power 3-D Gesture Tracking Sensors</h4>
          <h5>Silicon File Technologies expands its technology portfolio for the CMOS Image Sensor Market by licensing Dual Aperture’s 3-D information capture technology</h5>
          <p>
            Palo Alto, Calif. (October 8, 2013) -- Silicon File Technologies (KOSDAQ: 82930), a leader in handset CMOS technology solutions, announces today its collaboration with Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, to build a brand new type of CMOS image sensor that can take sharp pictures, significantly reduce noise, and capture real-time distance information; Furthermore, all of this is possible while utilizing a single, low-power, small form factor sensor instead of stereoscopic sensors, a common feature of most 3D cameras in the marketplace today.        
          </p>
          <a href="#" id="1" class="continue_reading">Continue reading</a>
        </div>
        <div id="1" class="invisible_content hide">
          <p>
            Dual Aperture’s new image sensor technology is made possible by its innovative 4-color sensor design. The 4-color sensor is comprised of RGB and IR (Infra-red) pixels, instead of the traditional bayer pattern. The sensor uses two separate apertures, one for the RGB spectrum and the  other for the IR spectrum, to simultaneously capture two distinct images with different sharpness levels.
          </p>
          <p>
            Silicon File Technologies and Dual Aperture will partner on a technology licensing agreement wherein Silicon File Technologies will incorporate Dual Aperture’s 4-color sensor technology, related image processing algorithms, and various application software into their sensors and sensor module products. These technologies will enable the following features:
          </p>
          <ul>
            <li>Reconstruction of color imaging from a 4-color pattern sensor</li>
            <li>Noise reduction and image sharpening</li>
            <li>Accurate depth estimation of objects captured in real-time</li>
            <li>Real-time touch refocusing of pictures</li>
            <li>Real-time 3D image pair generation</li>
            <li>Accurate gesture tracking using a low-power, single sensor</li>
          </ul>
          <p>
            “Dual Aperture's technology will enable new dimensions in photography with a multi-purpose camera that uses a low cost, low power, single CMOS image sensor,” says Do Young Lee, CEO of Silicon File Technologies. “We are thrilled to be the first to partner with Dual Aperture in the growing market that Dual Aperture’s 4-color sensor technology has created.”
          </p>
          <p>
            David D. Lee, CEO of Dual Aperture, Inc. also adds that “Dual Aperture is looking forward to working closely with Silicon File Technologies to develop commercial products targeted for various platforms based on our new ideas and Silicon Files’ strong design capabilities. Because of its small form factor and low power usage, Dual Aperture’s 4-color sensor technology can be used in a variety of consumer devices, including smart phones, tablets, PCs, TVs and automobile applications."
          </p>
          <p>
            Under the agreement, Silicon File and DA will work closely together to equip other camera OEMs with new multifunctional cameras. Silicon File will also manufacture and market 4-color sensors and camera modules integrated with new features enabled by DA algorithms. 
          </p>
          <br>
          <h5>About Silicon File Technologies, Inc.</h5>
          <p>
            Silicon File (KOSDAQ: 82930) is a global leader in the design and manufacture of system semiconductors. Leveraging one of the industry's broadest intellectual property (IP) technology portfolios, Silicon File provides the electronics industry with complete solutions focused on industrial, consumer, communications, computing and automotive markets.
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary Dual Aperture RGB-IR sensor technology. Dual Aperture’s proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture’s unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a>
          </p>
          <a href="#" id="1" class="collapse">Collapse all</a>
        </div>
      </article>
    </section>
  </div>
</section>
