<section id="press_main">
  <div class="container">
    <header>
      <div class="row-fluid">
        <div class="span6">
          <h1>PRESS RELEASES</h1>
        </div>
        <div class="span6">
          <h4>For all media inquiries, contact <a href="mailto:sally@dual-aperture.com">sally@dual-aperture.com</a></h4>
        </div>
      </div>
    </header>
    <section id="press_releases">
      <article id="9/11/13">
        <div class="visible_content">
          <h3>Oct 8, 2013</h3>
          <h4>Silicon File Technologies and Dual Aperture Agree to Collaborate on Low Power 3-D Gesture Tracking Sensors</h4>
          <h5>Silicon File Technologies expands its technology portfolio for the CMOS Image Sensor Market by licensing Dual Aperture’s 3-D information capture technology</h5>
          <p>
            Palo Alto, Calif. (October 8, 2013) -- Silicon File Technologies (KOSDAQ: 82930), a leader in handset CMOS technology solutions, announces today its collaboration with Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, to build a brand new type of CMOS image sensor that can take sharp pictures, significantly reduce noise, and capture real-time distance information; Furthermore, all of this is possible while utilizing a single, low-power, small form factor sensor instead of stereoscopic sensors, a common feature of most 3D cameras in the marketplace today.        
          </p>
          <a href="#" class="continue_reading">Continue reading</a>
        </div>
        <div class="invisible_content hide">
          <p>
            Dual Aperture’s new image sensor technology is made possible by its innovative 4-color sensor design. The 4-color sensor is comprised of RGB and IR (Infra-red) pixels, instead of the traditional bayer pattern. The sensor uses two separate apertures, one for the RGB spectrum and the  other for the IR spectrum, to simultaneously capture two distinct images with different sharpness levels.
          </p>
          <p>
            Silicon File Technologies and Dual Aperture will partner on a technology licensing agreement wherein Silicon File Technologies will incorporate Dual Aperture’s 4-color sensor technology, related image processing algorithms, and various application software into their sensors and sensor module products. These technologies will enable the following features:
          </p>
          <ul>
            <li>Reconstruction of color imaging from a 4-color pattern sensor</li>
            <li>Noise reduction and image sharpening</li>
            <li>Accurate depth estimation of objects captured in real-time</li>
            <li>Real-time touch refocusing of pictures</li>
            <li>Real-time 3D image pair generation</li>
            <li>Accurate gesture tracking using a low-power, single sensor</li>
          </ul>
          <p>
            “Dual Aperture's technology will enable new dimensions in photography with a multi-purpose camera that uses a low cost, low power, single CMOS image sensor,” says Do Young Lee, CEO of Silicon File Technologies. “We are thrilled to be the first to partner with Dual Aperture in the growing market that Dual Aperture’s 4-color sensor technology has created.”
          </p>
          <p>
            David D. Lee, CEO of Dual Aperture, Inc. also adds that “Dual Aperture is looking forward to working closely with Silicon File Technologies to develop commercial products targeted for various platforms based on our new ideas and Silicon Files’ strong design capabilities. Because of its small form factor and low power usage, Dual Aperture’s 4-color sensor technology can be used in a variety of consumer devices, including smart phones, tablets, PCs, TVs and automobile applications."
          </p>
          <p>
            Under the agreement, Silicon File and DA will work closely together to equip other camera OEMs with new multifunctional cameras. Silicon File will also manufacture and market 4-color sensors and camera modules integrated with new features enabled by DA algorithms. 
          </p>
          <br>
          <h5>About Silicon File Technologies, Inc.</h5>
          <p>
            Silicon File (KOSDAQ: 82930) is a global leader in the design and manufacture of system semiconductors. Leveraging one of the industry's broadest intellectual property (IP) technology portfolios, Silicon File provides the electronics industry with complete solutions focused on industrial, consumer, communications, computing and automotive markets.
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary Dual Aperture RGB-IR sensor technology. Dual Aperture’s proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture’s unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:sally@dual-aperture.com">sally@dual-aperture.com</a>
          </p>
          <a href="#" class="collapse">Collapse all</a>
        </div>
      </article>
    </section>
  </div>
</section>
