<section id="press_main">
  <div class="container">
    <header>
      <div class="row-fluid">
        <div class="span6">
          <h1>PRESS RELEASES</h1>
        </div>
        <div class="span6">
          <h4>For all media inquiries, contact <a href="mailto:sally@dual-aperture.com">sally@dual-aperture.com</a></h4>
        </div>
      </div>
    </header>
    <section id="press_releases">
      <article id="4/29/14">
        <div id="3" class="visible_content">
          <h3>Apr 29, 2014</h3>
          <h4>Ability Enterprise and Dual Aperture Announce Collaboration on 3D Sensor Modules</h4>
          <h5>Leading Digital Camera Provider Expands Product Portfolio by Licensing Dual Aperture’s 3D Information Capture Technology</h5>
          <p>
            Palo Alto, Calif. (April 29, 2014) – Ability Enterprise Co., Ltd. (2374.TW), a leader in camera modules for mobile, PC, and TV electronics, announces today its collaboration with Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, to build a complete camera that can take sharp, reduced-noise pictures with real-time depth information capture. Dual Aperture’s innovative technology utilizes a single, low-power, small form factor sensor instead of stereoscopic sensors, proving to have significant advantages over current 3D technologies that use multiple sensors.
          </p>
          <a href="#" id="3" class="continue_reading">Continue reading</a>
        </div>
        <div id="3" class="invisible_content hide">
          <p>
            Dual Aperture’s evolutionary image sensor technology utilizes a proprietary 4-color sensor design comprised of RGB and IR (infrared) pixels. Built with separate apertures for the RGB and IR pixels, the sensor is able to generate two distinct images, one in the RGB spectrum and the other in the IR, with a single capture.
          </p>
          <p>
            Ability Enterprise and Dual Aperture partner together on a technology licensing agreement whereby Ability Enterprise will incorporate Dual Aperture’s 4-color sensor technology, image processing algorithms and various application software, into their latest line of camera module products. These technologies will enable:
          </p>
          <ul>
            <li>Reconstruction of high-quality color image from a 4-color sensor</li>
            <li>Noise reduction and image sharpening</li>
            <li>Accurate depth estimation of captured objects</li>
            <li>Real-time touch refocusing of pictures</li>
            <li>Real-time 3D image pair generation</li>
            <li>Precise gesture tracking using a low-power, single sensor</li>
          </ul>
          <p>
            Ability Enterprise joins Dual Aperture’s existing partnerships with eWBM (processors) and Silicon File Technologies (sensors). “Ability is always looking for the best new technologies to provide our customers. Dual Aperture's technology will enable real-time 3D depth estimation and gesture tracking in a camera at a mass market scale because of its low costs and low power consumption,” said Roger Tseng, Chairman and CEO of Ability Enterprise. “We are excited to partner with Dual Aperture and combine our respective technologies to help enable our customers to distinguish their products.”
          </p>
          <p>
            David D. Lee, CEO of Dual Aperture, Inc. also added that “Dual Aperture is looking forward to having Ability Enterprise as a strategic partner in developing commercial products for various other markets, such as PC, TV, and mobile. Because of its small form factor and low power usage, Dual Aperture’s 4-color sensor technology can be used in various consumer devices such as smart phones, tablets, PCs, TVs, as well as in applications built for security and automobiles."
          </p>
          <p>
            Under the agreement, Ability and Dual Aperture will work closely to provide complete solutions to Ability Enterprise’s customers.
          </p>
          <br>
          <h5>About Ability Enterprise Co., Ltd.</h5>
          <p>
            Founded in Taipei, Taiwan in 1965, Ability Enterprise, part of Abico Group, is the leading provider of digital still cameras, digital video cameras, and camera modules worldwide. Ability has been providing OEM/ODM services to several Japanese customers, such as Canon, Nikon and etc., with optical products such as the PC Web Cam and the digital camera. Ability Enterprise is a public company in Taiwan with annual sales of NT$15.2B (US$450M) in 2005 and owns production facilities in Taiwan and China. For more information, visit Ability Enterprise at: <a href="http://www.abico.com.tw.">www.abico.com.tw.</a>
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary Dual Aperture RGB-IR sensor technology. Dual Aperture’s proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture’s unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:sally@dual-aperture.com">sally@dual-aperture.com</a>
          </p>
          <a href="#" id="3" class="collapse">Collapse all</a>          
        </div>
      </article>
      <article id="3/26/14">
        <div id="2" class="visible_content">
          <h3>Mar 26, 2014</h3>
          <h4>eWBM and Dual Aperture Collaborate on New Software and Hardware Integration</h4>
          <h5>Dual Aperture welcomes a new semiconductor partner to optimize its 3D information capture technology</h5>
          <p>
            Palo Alto, Calif. (March 26, 2014) -- Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, today announces its collaboration with eWBM Co., Ltd., a system on chip (SoC) solution company specializing in Digital Signal Processors (DSP) technology, to develop an optimized software and semiconductor product in hopes to offer superior camera solutions that enable high quality image capture, refocusing, 3D image generation, depth estimation and gesture tracking applications. In conjunction with the previously announced partnership with Silicon File Technologies, Dual Aperture and eWBM will create an optimized solution with industry leading accuracy while using a single low power, small form factor sensor.
          </p>
          <a href="#" id="2" class="continue_reading">Continue reading</a>
        </div>
        <div id="2" class="invisible_content hide">
          <p>
            Dual Aperture’s new image sensor technology is made possible by its innovative 4-color sensor design. Abandoning the traditional Bayer pattern, Dual Aperture’s 4-color sensor is comprised of RGB and IR (Infra-red) pixels. The sensor also uses separate apertures for RGB and IR pixels, thereby capturing data for two distinct images - one each in the RGB and the IR spectrums with varying sharpness.          
          </p>
          <p>
            eWBM and Dual Aperture have agreed on a licensing agreement and strategic partnership whereby eWBM licenses Dual Aperture’s proprietary image processing algorithms and will provide engineering resources to further improve the function of Dual Aperture’s technology at the DSP level. These technologies will enable:          
          </p>
          <ul>
            <li>Image generation and enhancement</li>
            <li>Depth map generation</li>
            <li>Gesture tracking</li>
          </ul>
          <p>
            “eWBM specializes on custom DSP IC development for gesture tracking and wants to implement Dual Aperture's technology on our products. We have looked at many other solutions, but Dual Aperture's technology was by far the best solution to address richer interaction with smart devices.” said Dr. Stephen Oh, CEO of eWBM Co., Ltd. “We are excited to work with Dual Aperture and Silicon File to address the growing market for an integrated camera, 3D and gesture recognition in one form factor.”          
          </p>
          <p>
            Dr. David D. Lee, CEO of Dual Aperture, Inc. also adds that “Dual Aperture is looking forward to working closely with eWBM to have an optimized software and semiconductor solution for our common customers. In addition to Silicon File (recently merged by SK Hynix Co., Ltd.) supplying 4-color sensors, Dual Aperture now has a partner who can produce low-cost, high-performance DSP IC that implements Dual Aperture's algorithms for 3D and gesture tracking. Because of its small form factor and low power usage, Dual Aperture’s 4-color sensor technology can be used in various consumer devices including smart phones, tablets, PCs, TVs and automobile applications, and an optimized semiconductor solution from eWBM only enhances the Dual Aperture advantage."
          </p>
          <p>
            Under the agreement, eWBM and Dual Aperture will work side by side to optimize Dual Aperture’s algorithms with DSP based camera systems.          
          </p>
          <br>
          <h5>About eWBM</h5>
          <p>
            eWBM Co, Ltd is a SoC solution company specialized in DSP technology to have been developing gesture recognition SoC solutions using eWBM’s proprietary DSP core optimized for gesture recognition algorithm. eWBM is working closely with Dual Aperture for 4-color sensor system using its DSP technology.          
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary Dual Aperture RGB-IR sensor technology. Dual Aperture’s proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture’s unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:sally@dual-aperture.com">sally@dual-aperture.com</a>
          </p>
          <a href="#" id="2" class="collapse">Collapse all</a>
        </div>
      </article>
      <article id="9/11/13">
        <div id="1" class="visible_content">
          <h3>Oct 8, 2013</h3>
          <h4>Silicon File Technologies and Dual Aperture Agree to Collaborate on Low Power 3-D Gesture Tracking Sensors</h4>
          <h5>Silicon File Technologies expands its technology portfolio for the CMOS Image Sensor Market by licensing Dual Aperture’s 3-D information capture technology</h5>
          <p>
            Palo Alto, Calif. (October 8, 2013) -- Silicon File Technologies (KOSDAQ: 82930), a leader in handset CMOS technology solutions, announces today its collaboration with Dual Aperture, Inc., a Silicon Valley imaging technology pioneer, to build a brand new type of CMOS image sensor that can take sharp pictures, significantly reduce noise, and capture real-time distance information; Furthermore, all of this is possible while utilizing a single, low-power, small form factor sensor instead of stereoscopic sensors, a common feature of most 3D cameras in the marketplace today.        
          </p>
          <a href="#" id="1" class="continue_reading">Continue reading</a>
        </div>
        <div id="1" class="invisible_content hide">
          <p>
            Dual Aperture’s new image sensor technology is made possible by its innovative 4-color sensor design. The 4-color sensor is comprised of RGB and IR (Infra-red) pixels, instead of the traditional bayer pattern. The sensor uses two separate apertures, one for the RGB spectrum and the  other for the IR spectrum, to simultaneously capture two distinct images with different sharpness levels.
          </p>
          <p>
            Silicon File Technologies and Dual Aperture will partner on a technology licensing agreement wherein Silicon File Technologies will incorporate Dual Aperture’s 4-color sensor technology, related image processing algorithms, and various application software into their sensors and sensor module products. These technologies will enable the following features:
          </p>
          <ul>
            <li>Reconstruction of color imaging from a 4-color pattern sensor</li>
            <li>Noise reduction and image sharpening</li>
            <li>Accurate depth estimation of objects captured in real-time</li>
            <li>Real-time touch refocusing of pictures</li>
            <li>Real-time 3D image pair generation</li>
            <li>Accurate gesture tracking using a low-power, single sensor</li>
          </ul>
          <p>
            “Dual Aperture's technology will enable new dimensions in photography with a multi-purpose camera that uses a low cost, low power, single CMOS image sensor,” says Do Young Lee, CEO of Silicon File Technologies. “We are thrilled to be the first to partner with Dual Aperture in the growing market that Dual Aperture’s 4-color sensor technology has created.”
          </p>
          <p>
            David D. Lee, CEO of Dual Aperture, Inc. also adds that “Dual Aperture is looking forward to working closely with Silicon File Technologies to develop commercial products targeted for various platforms based on our new ideas and Silicon Files’ strong design capabilities. Because of its small form factor and low power usage, Dual Aperture’s 4-color sensor technology can be used in a variety of consumer devices, including smart phones, tablets, PCs, TVs and automobile applications."
          </p>
          <p>
            Under the agreement, Silicon File and DA will work closely together to equip other camera OEMs with new multifunctional cameras. Silicon File will also manufacture and market 4-color sensors and camera modules integrated with new features enabled by DA algorithms. 
          </p>
          <br>
          <h5>About Silicon File Technologies, Inc.</h5>
          <p>
            Silicon File (KOSDAQ: 82930) is a global leader in the design and manufacture of system semiconductors. Leveraging one of the industry's broadest intellectual property (IP) technology portfolios, Silicon File provides the electronics industry with complete solutions focused on industrial, consumer, communications, computing and automotive markets.
          </p>
          <h5>About Dual Aperture, Inc.</h5>
          <p>
            Dual Aperture is a Silicon Valley-based technology start-up that is positioned to lead innovation within the imaging technology space with its proprietary Dual Aperture RGB-IR sensor technology. Dual Aperture’s proprietary sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture’s unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
          </p>
          <h5>Press Contact:</h5>
          <p>
            Sally Chan<br>
            Dual Aperture, Inc.<br>
            <a href="mailto:sally@dual-aperture.com">sally@dual-aperture.com</a>
          </p>
          <a href="#" id="1" class="collapse">Collapse all</a>
        </div>
      </article>
    </section>
  </div>
</section>
