<section id="press_main">
  <div class="container">
    <header>
      <div class="row-fluid">
        <div class="span6">
          <h1>PRESS RELEASES</h1>
        </div>
        <div class="span6">
          <h4>For all media inquiries, contact team@dual-aperture.com</h4>
        </div>
      </div>
    </header>
    <section id="press_releases">
      <article id="9/11/13">
        <h3>Sep 11, 2013</h3>
        <h4>DA press release example</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non accumsan ligula, posuere tincidunt elit. Aenean pharetra malesuada vulputate. Aliquam malesuada justo et risus pulvinar, vitae ultricies augue tristique. Vestibulum eu est eu mauris sollicitudin tempus. Etiam nisl turpis, iaculis dignissim vulputate et, dictum eget justo. Mauris sodales dignissim elit vitae fringilla. Cras augue neque, imperdiet id cursus mattis, tincidunt id mauris. Phasellus diam est, rutrum et lacus sit amet, cursus posuere arcu. Etiam ut mi tincidunt, sodales turpis eget, fermentum metus.
        </p>
        <a href="#" class="continue">Continue reading</a>
      </article>
    </section>
  </div>
</section>
