<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5>FROM OUR BLOG</h5>
            <ul class="list-unstyled">
                <li><a href="/blog/3">Introducing our technology</a></li>
                <li><a href="/blog/4">What about Image Quality?</a></li>
                <li><a href="/blog/5">Dual Aperture Featured in EE Times!</a></li>
                <li><a href="/blog/6">Check out our abstract on Dual Aperture Photography!</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>LEARN</h5>
            <ul class="list-unstyled">
                <li><a href="/faq">FAQ</a></li>
                <!--
                <li><a href="#">Seminars</a></li>
                <li><a href="#">Documentation</a></li>
                -->
            </ul>
        </div>
        <div class="col-md-3">
            <h5>COMPANY</h5>
            <ul class="list-unstyled">
                <li><a href="/about">About Us</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/press">Press</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>CONTACT</h5>
            <a href="mailto:pr@dual-aperture.com">pr@dual-aperture.com</a><br>
            <address>
                Dual Aperture International<br>
                (463-400), #1102, 11th Fl. Uspace1 A-dong, 660<br>
                Daewangpangyo-ro, Bundang-gu<br>
                Seongnam-si, Gyeonggi-do, Korea
            </address>
        </div>
    </div>
    <div class="row legal">
        <div class="col-md-6">
            <p>
                <!--
                <a href="#">Terms of Service</a> &nbsp;
                <a href="#">Privacy</a> &nbsp;
                <a href="#">Security</a>
                -->
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-muted text-right">
                ©2015 Dual Aperture International. All rights reserved.
            </p>
        </div>
    </div>
</div>
