<div id="subscribe" class="row">
    <div class="col-md-12">
        <div class="panel panel-default subscribe">
            <div class="panel-body">
                <p class="lead text-center">Subscribe to our newsletter!</p>
                <p class="text-center">Enter your email address below to receive updates on the latest developments for our product.</p>
                <form id="contactForm" class="form-inline text-center" action="contact" method="POST">
                    <div class="form-group form-group-lg">
                        <label class="sr-only" for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
