<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../../../partials/head %>

</head>
<body>

    <% include ../../../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="developer">

                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/developer/#toc">Table of Contents</a></li>
                            <li><a href="/developer/reference/">References</a></li>
                            <li class="active">Revision History</li>
                        </ol>
                        <header>
                            <h1>Revision History</h1>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Examples for Android, OS X, and iOS platforms were added [ July 13, 2015 ]</p>

                        <p>Download page has been updated for v1.5 files hosted on DA web sites. [ July 13, 2015 ]</p>

                        <p>Documentation draft for v1.5 released. [July 2015]</p>

                        <p>libDAGT_SDK alpha version 1.5 limited release [June 2015] which include fully functional binary build for OS X. Android version forthcoming.</p>

                        <div class="end-spacer"></div>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <footer>
        <% include ../../../partials/footer %>
    </footer>

    <% include ../../../partials/tools %>

    <% include ../../../partials/scripts %>
    
</body>
</html>
