<h2>Sign up to receive updates</h2>
<div class="signup_form">
  <%= form_for @reader, remote: true do |f| %>
    <%= f.text_field :email, placeholder: "Email Address" %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>
