<section id="blog_posts_show">
  <header> 
    <h1><%= @post.title %></h1>
  </header>
  <div class="row-fluid">
    <div class="offset3 span6">
      <p><%= @post.description %></p>
      <hr>
      <%= render 'shared/disqus', locals: { title: @post.title } %>
    </div>
  </div>
</section>