<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../../partials/head %>

</head>
<body>

    <% include ../../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="developer">

                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/developer/#toc">Table of Contents</a></li>
                            <li class="active">Downloads</li>
                        </ol>
                        <header>
                            <h1>Downloads</h1>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><br/><a href="https://drive.google.com/open?id=0B-mZp3ZE5QpffmNzRFdGNEhiMnMzbzhCQWR6TmR1eUFQbnlobU9KRE9iZzZSbmRYaGI2c28" target="_blank">DAI-Demo1-OSX</a><br/>
                            A demo App for OS X built using the v1.5 lib.</p>

                        <p><br/><a href="https://drive.google.com/open?id=0B-mZp3ZE5QpffmNzRFdGNEhiMnMzbzhCQWR6TmR1eUFQbnlobU9KRE9iZzZSbmRYaGI2c28" target="_blank">libDAGT_SDK.a</a><br/>
                            static libDAGT_SDK for OS X v.1.5</p>

                        <p><br/><a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfTzJQU1duanNSMWs" target="_blank">Example App OS X BuiltIn</a><br/>
                            XCode Project to build an OS X app using Built-in Camera</p>

                        <p><br/><a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfSjVYWVNHYW9YM0U" target="_blank">Example App Android [7-2015]</a><br/>
                            Example Code Project for Android</p>

                        <p><br/><a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfeE9XYUc4alMzRVE" target="_blank">Example App Binary for iPad</a><br/>
                            Example Binary App for iPad SDK v1.0</p>

                        <p><br/><a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfbVp1V19zcnpnbzQ" target="_blank">Example App for iOS Simulator</a><br/>
                            Example iOS App for Simulator</p>

                        <p><br/><a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfdXdBMGRUOTJFNnc" target="_blank">Example App Android [8-2015]</a><br/>
                            Example for Android using UVC source input</p>

                        <div class="end-spacer"></div>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

    <% include ../../partials/tools %>

    <% include ../../partials/scripts %>
    
</body>
</html>
