<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../../partials/head %>

</head>
<body>

    <% include ../../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="developer">

                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <h1>Developer</h1>
                        </header>
                        <p>
                            The current version of the Dual Aperture Gesture Tracking (DA-GT) Software Development Kit (SDK) is 1.5.
                        </p>
                        <p>
                            The main purpose of this release version alpha-1.5 is to help the select partner developers to start on their preliminary in-house developments. Here we focus on the 2D gestures (in the plane normal to the camera optical axis) and the use of depth information is limited. The scope for the users of v1.5 should therefore be limited to setting up their development environment, establishing the communication with relevant hardware (mainly the camera-devices and its control software), replicating the basic operational steps and verifying the integrity of the data communication. It is critical that the developers develop adequate sense of characteristics of DA technology and understand its strengths and limitations in relation to other complementary depth-sensing technologies.
                            <span id="toc"></span>
                        </p>
                        <br />
                        <ol class="breadcrumb">
                            <li class="active">Table of Contents</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 menu">
                        <ul>
                            <li><a href="install">Installation</a></li>
                            <li><a href="reference/">References</a>
                                <ul>
                                    <li><a href="reference/documentation/">Documentation</a>
                                        <ul>
                                            <li><a href="reference/documentation/datastructure">Data Structure</a></li>
                                            <li><a href="reference/documentation/wrapper">Wrapper</a></li>
                                            <li><a href="reference/documentation/daclient">Client</a></li>
                                            <li><a href="reference/documentation/gesturetracker">Tracker</a></li>
                                            <li><a href="reference/documentation/parametermanager">Param Manager</a></li>
                                            <li><a href="reference/documentation/gestures">Gesture Definitions</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="reference/examples/">Examples</a>
                                        <ul>
                                            <li><a href="reference/examples/android">Android</a></li>
                                            <li><a href="reference/examples/osx">OS X</a></li>
                                            <li><a href="reference/examples/ios">iOS</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="reference/history">Revision History</a></li>
                                    <li><a href="reference/legacy">Legacy</a></li>
                                </ul>
                            </li>
                            <li><a href="downloads">Downloads</a></li>
                        </ul>

                        <div class="end-spacer"></div>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

    <% include ../../partials/tools %>

    <% include ../../partials/scripts %>
    
</body>
</html>
