<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../../../../partials/head %>

</head>
<body>

    <% include ../../../../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="developer">

                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/developer/#toc">Table of Contents</a></li>
                            <li><a href="/developer/reference/">References</a></li>
                            <li><a href="/developer/reference/examples/">Examples</a></li>
                            <li class="active">Android</li>
                        </ol>
                        <header>
                            <h1>Android</h1>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Please click on the link below to go to the Android Kit.</p>

                        <p>&gt;&gt;<a href="https://drive.google.com/open?id=0B4DSl7SoIVAcYUFoc3J3VnZZeDA" target="_blank" rel="external">Dual Aperture Early Access Kit for Android</a></p>

                        <p>You may need an appropriate access permission. To request one, please contact Dong Cheol Jeong at <a href="mailto:dcjeong@dual-aperture.com">dcjeong@dual-aperture.com</a>.</p>

                        <br />
                        <iframe src="https://docs.google.com/presentation/d/14xm_4sfhNF_0pyS-oL2rGqOCQ9QVI0m_J-M5cMvYh4I/embed?start=false&loop=false&delayms=3000" frameborder="0" width="720" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

                        <br />
                        <br />

                        <p>[An earlier versions of this document and packages based on SDK v1.5alpha can be found <a href="/developer/reference/examples/android_august2015" title="Android August 2015">here</a> (Aug 2015 version) and <a href="/developer/reference/examples/android_july2015" title="Android July 2015">here</a> (July 2015 version)]</p>

                        <p>[For Android specific questions, contact Dong Cheol Jeong at dcjeong@dual-aperture.com ]</p>

                        <div class="end-spacer"></div>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <footer>
        <% include ../../../../partials/footer %>
    </footer>

    <% include ../../../../partials/tools %>

    <% include ../../../../partials/scripts %>
    
</body>
</html>
