<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../../../../partials/head %>

</head>
<body>

    <% include ../../../../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="developer">

                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/developer/#toc">Table of Contents</a></li>
                            <li><a href="/developer/reference/">References</a></li>
                            <li><a href="/developer/reference/examples/">Examples</a></li>
                            <li><a href="/developer/reference/examples/android">Android</a></li>
                            <li class="active">Android (August 2015)</li>
                        </ol>
                        <header>
                            <h1>Android (August 2015)</h1>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>[The following applies to DA-GT-UVC-SDK of August 2015.]<br/>
                            You can download the relevant Android SDK package (titled DA_Gesture_UVC_SDK_eWBm.zip) from <a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfdXdBMGRUOTJFNnc" target="_blank">here</a>.</p>

                        <p>[An earlier version of this document and package can be found <a href="/developer/reference/examples/android_july2015">here</a>]<br/>
                            [For Android specific questions, contact Dong Cheol Jeong at dcjeong@dual-aperture.com ]</p>

                        <p><strong>Development Environment</strong></p>

                        <p><strong>Software:</strong><br/>
                            Mac OSX 10.10 Yosemite<br/>
                            Android Studio v1.2.2 Build number A1-141.1980579<br/>
                            Android SDK Tools 24.2.0<br/>
                            Android Platform Version API 22 Android 4.4.2</p>

                        <p><strong>Hardware :</strong><br/>
                            MacBook Pro (Retina, 15-inch)<br/>
                            Microvision MV5422 &amp; Mango C220<br/>
                            eWBM DR1151 Evaluation BD</p>

                        <p><strong>How to use Android Gesture SDK with Android Studio:</strong><br/>
                            Create New Android Project<br/>
                            Chose Project as the Screen Shot.</p>

                        <p><img src="/assets/android_studio_gesture_sdk1.jpg" title="Android Studio Gesture SDK Screenshot"/></p>

                        <p>Create folder "jniLibs" under app-&gt;src-&gt;main</p>

                        <p>Create folder "armeabi-v7a" under jniLibs then add two so file provided "libDAGT.so & libopencv_java3.so" under "armeabi-v7a"</p>

                        <p>Create Package "com.dual_aperture.android.dagt2" then add files "Application.java, CommandList.java, DA_Gesture.java, DA_GestureEvent.java and DrawView.java"</p>

                        <p>Optional: When you want webcam to be shown, add the xml layout below in where you want</p>

<pre>
&lt;RelativeLayout android:background="@color/gray" android:id="@+id/mRelativeLayout" android:layout_weight="1.59" android:layout_width="wrap_content" android:layout_height="wrap_content"&gt;
    &lt;LinearLayout android:id="@+id/LayoutView" android:orientation="vertical" 
    android:layout_width="wrap_content" android:layout_height="wrap_content" android:layout_alignParentLeft="true"/&gt;
    &lt;LinearLayout android:id="@+id/LayoutStatus" android:visibility="invisible" android:orientation="vertical" 
    android:layout_width="30pt" android:layout_height="30pt" android:layout_gravity="center_horizontal" android:layout_alignParentRight="true"/&gt;
    &lt;TextView android:visibility="visible" android:layout_width="wrap_content" 
    android:layout_height="wrap_content" android:textAppearance="?android:attr/textAppearanceLarge" android:text="Gesture" android:id="@+id/textView2" android:textColor="@color/red" android:textAlignment="center" android:layout_gravity="center_vertical" android:layout_alignParentTop="true" android:layout_centerInParent="true"/&gt; 
&lt;/RelativeLayout&gt;

</pre>

                        <p>Add permission at AndroidManifest.xml</p>

<pre>
&lt;uses-permission android:name="android.permission.INTERNET"/&gt;
&lt;uses-permission android:name="android.permission.CAMERA"/&gt;
</pre>

                        <br/>
                        <br/>

                        <p><strong>Reference</strong></p>

                        <p>Package name : <code>com.dual_aperture.android.dagt2</code></p>

                        <p>Class OverView:<br/>
                            <code>CommandList</code> : define command to connect UVC to Android Device<br/>
                            <code>0x14</code> : UVC (option to use between "UVC" and "DAIP")<br/>
                            <code>0x15</code> : CONNECT (connect to UVC)<br/>
                            <code>0x01</code> : RUN (run preview and waiting for gesture)
                        </p>

                        <br/>

                        <p><code>DA_Gesture</code> : load JNI library and get Gesture result from JNI.</p>

                        <p>Public Methods :<br/>
                            <code>void onDaGestureEvent(int action)</code> : called by JNI with gesture result.<br/>
                            Parameters<br/>
                            <code>action</code> : the action result from JNI<br/>
                            <code>0x10</code> : LEFT<br/>
                            <code>0x11</code> : RIGHT<br/>
                            <code>0x12</code> : UP<br/>
                            <code>0x13</code> : DOWN<br/>
                            <code>0x14</code> : PUSH<br/>
                            <code>0x15</code> : PULL
                        </p>

                        <br/>

                        <p><code>DA_GestureEvent</code> : define gesture action.</p>

                        <p><code>DrawView</code> : drawing Image from JNI.<br/>
                            Public Methods :<br/>
                            <code>void DisplayScreen()</code> : Draw Image at Screen.<br/>
                            <code>void uvcMode()</code> : connect to UVC Camera<br/>
                            <code>string getDeviceName()</code> : return device node name<br/>
                            <code>void setDeviceName(String deviceName)</code> : Set device name<br/>
                            Note: When UVC connects to the android device, check the video device node DR1151 EVB normally video node is "/dev/video4"
                        </p>

                        <div class="end-spacer"></div>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <footer>
        <% include ../../../../partials/footer %>
    </footer>

    <% include ../../../../partials/tools %>

    <% include ../../../../partials/scripts %>
    
</body>
</html>
