<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../../../../partials/head %>

</head>
<body>

    <% include ../../../../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="developer">

                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/developer/#toc">Table of Contents</a></li>
                            <li><a href="/developer/reference/">References</a></li>
                            <li class="active">Examples</li>
                        </ol>
                        <header>
                            <h1>Examples</h1>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>As of July 2015, Android and OS X are supported at the source level. iOS builds using an earlier version of the tracker is available only in binary builds and only for DA internal uses.</p>

                        <div class="menu">
                            <ul>
                                <li><a href="android">Android</a></li>
                                <li><a href="osx">OS X</a></li>
                                <li><a href="ios">iOS</a></li>
                            </ul>
                        </div>

                        <div class="end-spacer"></div>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <footer>
        <% include ../../../../partials/footer %>
    </footer>

    <% include ../../../../partials/tools %>

    <% include ../../../../partials/scripts %>
    
</body>
</html>
