<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../../../../partials/head %>

</head>
<body>

    <% include ../../../../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="developer">

                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/developer/#toc">Table of Contents</a></li>
                            <li><a href="/developer/reference/">References</a></li>
                            <li><a href="/developer/reference/examples/">Examples</a></li>
                            <li class="active">iOS</li>
                        </ol>
                        <header>
                            <h1>iOS</h1>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>[The following applies to DA-GT-SDK version alpha-1.0 as of July 2015.]</p>

                        <p>The iOS related files are archived in the <a href="https://drive.google.com/a/dual-aperture.com/folderview?id=0B-mZp3ZE5QpffnhDd2Z5LU8yR3Q5b2lDNldkNXdUTnpQMUxraXRsZGpib3N6UW5jNUxudk0&usp=sharing" target="_blank">iOS section</a>. As of July, 2015, the iOS version uses an earlier SDK alpha build, and its gesture tracking behavior may be significantly different from the latest version. The binary apps for both iPad and the iOS simulators may be used to get a sense of what kind applications may be developed to take advantage of the DA technology.</p>

                        <p><strong>To use the iPad device build:</strong></p>

                        <p>To run the binary on an iPad, you need to have registered the device ID at the time of building the app so that it is included in its provision file. If you did so, you can download the iOS tablet build from <a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfeE9XYUc4alMzRVE" target="_blank">here</a>. Otherwise, contact the developer to make arrangement for the new test device.</p>

                        <p>After you download it, and after connecting the iOS device (iPad 2 or later is required), double click on the file will load it into the iTunes app list. You may then add the loaded app to the list of apps to sync with the attached device. After syncing, the App should appear on the Home screen of the iPad.</p>

                        <p><strong>To use the iOS Simulator build:</strong></p>

                        <p>Similarly, you can download the <a href="https://drive.google.com/open?id=0B-mZp3ZE5QpfbVp1V19zcnpnbzQ" target="_blank">simulator version of the app</a> that will run in the iOS simulator which is part of Apple's Xcode package. Follow the instructions in the included README.txt file very carefully. XCode 6.2 or later version is required. You should have the simulator devices such as iPad Air, Resizable iPad, etc. downloaded and installed already. (Both 6.2 on 10.9.5 and 6.32 on 10.10.3 have been tested OK.) In addition, you should be familiar with issuing the commands in the Terminal app.</p>

                        <p>Download the package and place the included app on your Desktop, and follow the procedure in the README file. There, there are two sets of instructions. The first one, 5 step-by-step to install it on the simulator. At the end of the READ file, there is a simpler 3-step procedure. Either of them should work.</p>

                        <div class="end-spacer"></div>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <footer>
        <% include ../../../../partials/footer %>
    </footer>

    <% include ../../../../partials/tools %>

    <% include ../../../../partials/scripts %>
    
</body>
</html>
