<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>

        <div class="jumbotron">
            <div class="container">
                &nbsp;
            </div>
        </div>

        <div class="container">
            <header>
                <h1>About Dual Aperture International</h1>
            </header>
            <div id="about">
                <p>
                    Dual Aperture International Co. Ltd. is a joint venture of Dual Aperture, Inc. and the Center for Integrated Smart Sensors (CISS), the leading research institution in Korea. The new entity is positioned to lead innovation within the imaging technology space and enable the groundbreaking smart sensor technology on multiple platforms and devices.
                </p>
                <p>
                    With its proprietary dual-apertured RGB-IR sensor technology and algorithms, DAI utilizes 3D image capturing and other imaging enhancements to create a multi-functional, low cost smart sensor technology that can be integrated into many consumer, automotive, and industrial products. DAI's unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
                </p>
                <p>
                    CISS is dedicated to technological advancement with approximately $10 million in annual government funding to support advancement in smart sensor technology. CISS assembled a team of more than 30 industry veterans and graduate students in camera and image research to support Dual Aperture International. With such support, more than 500 research engineers including professors, research professors, and graduate students can contribute to R&D projects in various areas such as biological, medical, vehicle, environment, camera, and mobile sensors. 
                </p>
            </div>
            <article id="biographies" class="clearfix">
                <h1>Our Team</h1>
                <div class="row-fluid">
                    <div class="col-md-4">
                        <a class="member_modal_link" data-id="17" href="#"><img alt="Thumb davidleeprofile" class="ciss_portrait" src="https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/17/thumb_davidLeeProfile.png" /></a>
                        <h4>David D. Lee</h4>
                        <h4 class='company_title'>CEO</h4>
                    </div>
                    <div class="col-md-4">
                        <a class="member_modal_link" data-id="25" href="#"><img alt="Thumb chong min  kyung 2" class="ciss_portrait" src="https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/25/thumb_Chong-Min__Kyung_2.jpg" /></a>
                        <h4>Chong-Min Kyung</h4>
                        <h4 class='company_title'>CTO</h4>
                    </div>
                    <div class="col-md-4">
                        <a class="member_modal_link" data-id="33" href="#"><img alt="Thumb ck ko" class="ciss_portrait" src="https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/33/thumb_CK_Ko.jpg" /></a>
                        <h4>Chung Kon Ko</h4>
                        <h4 class='company_title'>Chief Legal Officer</h4>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-4">
                        <a class="member_modal_link" data-id="18" href="#"><img alt="Thumb andrewwajsprofile" class="ciss_portrait" src="https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/18/thumb_andrewWajsProfile.png" /></a>
                        <h4>Andrew Wajs</h4>
                        <h4 class='company_title'>Chief Architect</h4>
                    </div>
                    <div class="col-md-4">
                        <a class="member_modal_link" data-id="34" href="#"><img alt="Thumb gs roh" class="ciss_portrait" src="https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/34/thumb_GS_Roh.jpg" /></a>
                        <h4>Gang-Sik Roh</h4>
                        <h4 class='company_title'>VP, Business Operations</h4>
                    </div>
                    <div class="col-md-4">
                        <a class="member_modal_link" data-id="24" href="#"><img alt="Thumb tkwooprofile" class="ciss_portrait" src="https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/24/thumb_tkWooProfile.png" /></a>
                        <h4>Taekun Woo</h4>
                        <h4 class='company_title'>VP, Engineering</h4>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-4">
                        <a class="member_modal_link" data-id="19" href="#"><img alt="Thumb bruceleeprofile" class="ciss_portrait" src="https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/19/thumb_bruceLeeProfile.png" /></a>
                        <h4>Bruce Lee</h4>
                        <h4 class='company_title'>Greater China Operations</h4>
                    </div>
                </div>
            </article>
            <article id="advisory_board">
                <h1>Advisory Board</h1>
                <a href="http://www-mtl.mit.edu/researchgroups/hslee/">Professor Hae-Seung Lee</a>, Director of MIT's Center of Integrated Circuits and Systems and Associate Director of MTL.<br>
                <a href="http://phitar.com/Philippe_Tarbouriech/welcome.html">Philippe Tarbouriech</a>, Photographer and technologist.
            </article>
            <article id="google_maps_section" class="clearfix">
                <ul class='nav nav-tabs'>
                    <li class='active'>
                        <a href='#korean' data-toggle='tab'>Korean Office</a>
                    </li>
                    <li>
                        <a href='#us' data-toggle='tab'>U.S Office</a>
                    </li>
                </ul>
                <div class='tab-content'>
                    <div class='tab-pane active' id='korean'>
                        <img alt="Dai korea" src="/assets/DAI_korea-2891ba39f149e70055d83677ceafdf5b.png" />
                    </div>
                    <div class='tab-pane' id='us'>
                        <img alt="Dai us" src="/assets/DAI_us-86d48049bb28d5d46071e9981579e999.png" />
                    </div>
                </div>
            </article>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="portraitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title member_name"></h4>
                    <h4 class="modal-title company_title"></h4>
                </div>
                <div class="modal-body">
                    <p>hello</p>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/scripts %>
    
</body>
</html>
