<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="about">

                <% if (user) { %>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-default" id="aLogout">Logout</button>
                        </div>
                    </div>
                <% } %>

                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <h1>About Dual Aperture International</h1>
                        </header>
                        <p>
                            Dual Aperture International Co. Ltd. is a joint venture of Dual Aperture, Inc. and the Center for Integrated Smart Sensors (CISS), the leading research institution in Korea. The new entity is positioned to lead innovation within the imaging technology space and enable the groundbreaking smart sensor technology on multiple platforms and devices.
                        </p>
                        <p>
                            With its proprietary dual-apertured RGB-IR sensor technology and algorithms, DAI utilizes 3D image capturing and other imaging enhancements to create a multi-functional, low cost smart sensor technology that can be integrated into many consumer, automotive, and industrial products. DAI's unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
                        </p>
                        <p>
                            CISS is dedicated to technological advancement with approximately $10 million in annual government funding to support advancement in smart sensor technology. CISS assembled a team of more than 30 industry veterans and graduate students in camera and image research to support Dual Aperture International. With such support, more than 500 research engineers including professors, research professors, and graduate students can contribute to R&amp;D projects in various areas such as biological, medical, vehicle, environment, camera, and mobile sensors. 
                        </p>
                    </div>
                </div>
                <div id="team" class="team row">
                    <div class="col-md-12">
                        <h2>Our Team</h2>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="17" href="#"><img class="img-thumbnail" src="assets/bios/DavidDLee.png" /></a>
                            <h4>David D. Lee</h4>
                            <h5>CEO</h5>
                        </div>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="25" href="#"><img class="img-thumbnail" src="assets/bios/ProfChong-MinKyung.png" /></a>
                            <h4>Prof. Chong-Min Kyung</h4>
                            <h5>CTO</h5>
                        </div>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="33" href="#"><img class="img-thumbnail" src="assets/bios/DrChongKonKo.png" /></a>
                            <h4>Dr. Chong Kon Ko</h4>
                            <h5>CLO</h5>
                        </div>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="18" href="#"><img class="img-thumbnail" src="assets/bios/AndrewWajs.png" /></a>
                            <h4>Andrew Wajs</h4>
                            <h5>Chief Architect</h5>
                        </div>
                    </div>
                </div>
                <div id="board" class="team row">
                    <div class="col-md-12">
                        <h2>Our Board</h2>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="17" href="#"><img class="img-thumbnail" src="assets/bios/DavidDLee.png" /></a>
                            <h4>David D. Lee</h4>
                            <h5>Chairman</h5>
                        </div>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="25" href="#"><img class="img-thumbnail" src="assets/bios/ProfChong-MinKyung.png" /></a>
                            <h4>Prof. Chong-Min Kyung</h4>
                            <h5>Board Member</h5>
                        </div>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="102" href="#"><img class="img-thumbnail" src="assets/bios/IBJeon.png" /></a>
                            <h4>I.B. Jeon</h4>
                            <h5>Board Member</h5>
                        </div>
                        <div class="bio col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <a class="member_modal_link" data-id="101" href="#"><img class="img-thumbnail" src="assets/bios/CSChung.png" /></a>
                            <h4>CS Chung</h4>
                            <h5>Chair of Audit Committee</h5>
                        </div>
                    </div>
                </div>
                <div id="advisors" class="row">
                    <div class="col-md-12">
                        <h2>Our Advisors</h2>
                        <p><a href="http://www-mtl.mit.edu/researchgroups/hslee/">Professor Hae-Seung Lee</a>, Director of MIT's Center of Integrated Circuits and Systems and Associate Director of MTL</p>
                        <p><a href="http://phitar.com/Philippe_Tarbouriech/welcome.html">Philippe Tarbouriech</a>, Photographer and technologist</p>
                    </div>
                </div>
                <div id="offices" class="row">
                    <div class="col-md-12">
                        <h2>Our Office Locations</h2>
                        <ul class='nav nav-tabs'>
                            <li class='active'>
                                <a href='#koreaOffice' data-toggle='tab'>South Korea</a>
                            </li>
                            <li>
                                <a href='#usOffice' data-toggle='tab'>United States</a>
                            </li>
                        </ul>
                        <div class='tab-content'>
                            <div class='tab-pane active' id='koreaOffice'>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d202835.4719391126!2d127.11642200000001!3d37.406283!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca7e540109215%3A0xdf72876c65cc86e6!2zKOyjvCntgZDruIztlLzslYQ!5e0!3m2!1sen!2sus!4v1431887714094" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                            </div>
                            <div class='tab-pane' id='usOffice'>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202862.17390491973!2d-122.10450859999999!3d37.396418800000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb0bdbb27b421%3A0x426c64e25652b7ad!2s5050+El+Camino+Real+%23108%2C+Los+Altos%2C+CA+94022!5e0!3m2!1sen!2sus!4v1435381140427" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% include ../partials/subscr %>

        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="portraitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title member_name"></h4>
                    <h4 class="modal-title company_title"></h4>
                </div>
                <div class="modal-body">
                    <p>hello</p>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/tools %>

    <% include ../partials/scripts %>

    <script>
        (function($){

            var teamMembers = [
                {
                    "id":17,
                    "name":"David D. Lee",
                    "description":"Dr. David Lee is the Chairman and CEO of Dual Aperture, Inc., a Silicon Valley start-up focused on developing photography technologies capable of having a meaningful impact on people’s lives. He was the founder and CEO of Silicon Image and took the company public in 1999 serving as the company’s Chairman and CEO until November 2004. Responsible for the development of two worldwide digital interface standards – Digital Visual Interface (DVI) and High-Definition Multimedia Interface (HDMI) – Silicon Image is recognized as a major force in the development and implementation of technology industry standards. While at Silicon Image, Lee forged the collaborative relationships with leading PC and consumer electronics manufacturers including Intel, Sony and Panasonic, along with major Hollywood studios, to bring DVI and HDMI standards to fruition. In 2009, HDMI was awarded the Technology and Engineering Emmy Award by National Academy of Television Arts \u0026 Sciences (NATAS). According to several market research firms, more than 3 billion HDMI-enabled devices shipped from its inception through 2014. Lee was inducted into CEA Hall of Fame in 2014 for his contribution in HDMI. Prior to launching Silicon Image in 1995, Lee was a principal investigator at Sun Microsystems Research Laboratories and the research staff at the famed Xerox Palo Alto Research Center (PARC). There, he led a number of projects including the development of the world’s first 6.3M pixel AMLCDs, which integrated high-resolution display technology with high-performance computing. A technology entrepreneur standout, Lee received his bachelor’s (’83, with honors), master’s (‘85) and Ph.D. (’89) degrees in electrical engineering and computer science from U.C. Berkeley.",
                    "nickname":"Chairman and CEO",
                    "company":"Dual Aperture",
                    "position":1
                },
                {
                    "id":25,
                    "name":"Prof. Chong-Min Kyung",
                    "description":"Chong-Min Kyung is Professor at the Department of Electrical Engineering(EE) at KAIST and Director of Center for Integrated Smart Sensors(CISS), funded as Global Frontier Project by Korean government. He is responsible for all operations and overall strategic direction of CISS. His research interest is low-energy 3-D camera system design. Previously, Prof. Kyung worked at Bell Telephone Murray Hill. He received Ph.D. in EE at KAIST 1981. He is IEEE Fellow.",
                    "nickname":"Board Member and CTO",
                    "company":"CISS",
                    "position":2
                },
                {
                    "id":33,
                    "name":"Dr. Chong Kon Ko",
                    "description":"Dr. Ko joins Dual Aperture International as Chief Legal Officer. He is actively involved in the industry, academia, as well as government positions. Prior to DAI, Dr. Ko served as EVP of intellectual Discovery (Korea’s first Invention Capital company), where his primary responsibilities included acquisition and licensing of patent portfolios of more than one thousand patents. Previously, he was Vice President at LG Electronics, where he was responsible for patent development, litigation, and monetization and served as Vice President at Samsung Electronics where he was responsible for joint venture, technology sourcing, and developing standards-based patents. He is a US Patent Attorney registered to practice in New York, New Jersey, and US PTO.  He worked at law firms, Pennie \u0026 Edmonds (New York) and Kim and Chang (Seoul). Dr. Ko served the IP Committee Chair at Korea’s National Science and Technology Commission, setting the national IP policy and allocating government R\u0026D budgets. He was also a Council Member of Korea’s Presidential Council on Intellectual Property, who coordinated various government branches for patents, designs, copyrights, trademarks, and antitrust matters. Dr. Ko received his bachelor degree in EECS from MIT, and master and Ph.D degrees in EE from Columbia University and a Law Degree (J.D.) from Rutgers Law School. Dr. Ko also teaches and writes extensively in the areas of IP development, litigation, and monetization. He is the author of “Dr. Ko’s Creative Economy Lecture: Manage Your Intellectual Properties” (©2014, Human and Books), and co-author of “US Patent Law Case Study” (©2013, Hanbit IP Center). Dr. Ko taught IP as an adjunct professor at Seoul National University and at the Korea Advanced Institute of Science and Technology (KAIST).",
                    "nickname":"Chief Legal Officer",
                    "company":"Dual Aperture",
                    "position":3
                },
                {
                    "id":18,
                    "name":"Andrew Wajs",
                    "description":"Andrew has great experience in creating new product ideas using drawing on diverse disciplines and technologies. He has exhibited photographs in galleries in South Africa and the Netherlands – he has now shifted into designing and building cameras. Prior to Dual Aperture Andrew has worked in various aspects of media technologies including. He holds BSc and MSc degrees in Electrical Engineering from the University of the Witwatersrand.",
                    "nickname":"Chief Architect",
                    "company":"Dual Aperture",
                    "position":4
                },
//                {"id":34,"name":"Gang-Sik Roh","description":"GS is the lead manager responsible for the business operation such as HR, finance, general administration as well as X-functional project management on our customers and strategic partners. Prior to DAI, GS served as VP of the Siliconfile technology(CMOS image sensor company in Korea), where his primary responsibilities included strategic business planning and management support division. Also he worked in Dongbu HiTek and Siliconfile as sales and marketing director. He likes to socialize with people.","picture":{"url":"https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/34/GS_Roh.jpg","thumb":{"url":"https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/34/thumb_GS_Roh.jpg"}},"nickname":"VP, Business Operations","company":"Dual Aperture","position":5},
//               {"id":24,"name":"Taekun Woo","description":"TK is the lead engineer responsible for the image enhancement and depth map generation algorithms and the packaging of applications/libraries to deliver DA’s algorithm to customers.  Prior to starting Dual Aperture, TK worked for over 15 years with embedded systems in Silicon Valley and Orange County. He received his BS and MS in Computer Science from Korea University.","picture":{"url":"https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/24/tkWooProfile.png","thumb":{"url":"https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/24/thumb_tkWooProfile.png"}},"nickname":"VP, Engineering","company":"Dual Aperture","position":6},
//                {"id":19,"name":"Bruce Lee","description":"The resident sensei of corporate operations and business development, Bruce is a veteran of over two decades in the IT industry.  Prior to joining DA, Bruce worked in several industry-leading companies such as Synnex Group, Phoenix, and PQI in the Greater China Region. He received his BS in Electrical Engineering from Chung-Yuan Christian University in Taiwan and in his free time enjoys hitting the little white ball across the great green plains.","picture":{"url":"https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/19/bruceLeeProfile.png","thumb":{"url":"https://dual-aperture.s3.amazonaws.com/uploads/team_member/picture/19/thumb_bruceLeeProfile.png"}},"nickname":"Greater China Operations","company":"Dual Aperture","position":7},

                {
                    "id":101,
                    "name":"CS Chung",
                    "description":"Mr. Chung has an extensive experience in terms of both scope of functional disciplines and spectrum of corporate sizes along many different industries. Most recently he was CEO of Thin Multimedia Inc., a start-up software development venture. Prior to that, he served as EVP of CoreLogic Inc, a medium size fabless semiconductor company, and as EVP of Enterprise Networks Inc, a large size telecom infrastructure company, and as CFO of Hyundai Electronics (now called as SK Hynix), one of the largest corporations in Korea. He received BA in Economics from Seoul National University (1975) and MBA from University of Oklahoma (1984).",
                    "nickname":"Chair of Audit Committee",
                    "company":"Dual Aperture",
                    "position":8
                },
                {
                    "id":102,
                    "name":"I.B. Jeon",
                    "description":"In-Baik (I.B.) Jeon joined Dual Aperture International as one of the board members when the company was inaugurated in June 2014 and is currently serving as acting COO from March 2015. Prior to that, he served as board chairman of Hynix Semiconductor Inc. which is world 2nd player of memory business and Seoul Optodevices Co., Ltd which is specialized in LED business in Korea. He has been with Hynix as Executive Vice President in charge of marketing and strategic business development prior to become president and CEO of other Hyundai Information Technology company. He also served as board member of Maxtor Corporation, an industry-leading disk drive company, which was merged into Seagate Technology in Silicon Valley. Mr. Jeon studied Electrical Engineering and Business Administration at Seoul National University in Korea.",
                    "nickname":"Board Member",
                    "company":"Dual Aperture",
                    "position":9
                }
            ];

            function getTeamMemberDetails(id){
                var result = {};
                $.each(teamMembers, function(){
                    if (this.id === id){
                        result = this;
                    }
                });
                return result;
            }

            function attachMemberDetailModal(){
                $(".member_modal_link").click(function(){
                    var $this = $(this);
                    var id = $(this).data('id');
                    var data = getTeamMemberDetails(id);

                    $('.member_name').text(data.name);
                    $('.company_title').text(data.nickname || '');
                    $('.modal-body p').text(data.description);

                    $("#portraitModal").modal('show');

                    return false;
                });

                $("#portraitModal").modal({ show: false });
            }

            function init() {
                attachMemberDetailModal();
            }

            $(init);

        })(jQuery);

    </script>
    
</body>
</html>
