<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="blog_posts">
                <div class="row">
                    <div class="col-md-12">
                        <article id="post_4">
                            <h3>Check out our abstract on Dual Aperture Photography!</h3>
                            <p>
                                <div class="description">
                                    <p>
                                        <a href="downloads/Martinello_ICCP2015.pdf" class="dark">[PDF] Dual Aperture Photography: Image and Depth from a Mobile Camera</a><br>
                                        <a href="downloads/Martinello_ICCP2015_suppMaterial.pdf" class="dark">[PDF] Supplementary Material</a>
                                    </p>
                                </div>
                            </p>
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=400px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:40px;" allowTransparency="true"></iframe>
                        </article>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <article id="post_3">
                            <h3>Dual Aperture Featured in EE Times!</h3>
                            <p>
                                <div class="description">
                                    <p>
                                        Dual Aperture has been included in the EE Times 
                                        <a href='http://www.eetimes.com/document.asp?doc_id=1323068&page_number=4' class='dark'>Silicon 60: Hot Startups to Watch!</a>
                                    </p>
                                </div>
                            </p>
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=400px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:40px;" allowTransparency="true"></iframe>
                        </article>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <article id="post_2">
                            <h3>What about Image Quality?</h3>
                            <div class="description">
                                <p>We will be diving deeper on each of the Dual Aperture camera's unique features, but first, let's take a look at picture quality.</p>
                                <p>The Dual Aperture camera's unique features are made possible because its sensor doesn't use the traditional Bayer sensor model. Instead of a RGBG filter, the Dual Aperture sensor uses a modified filter that replaces the second green sub-pixel with an infra-red sub-pixel.</p>
                                <p>So what does this mean for picture quality? The absence of a second green sub-pixel and the possibility of infrared leakage onto the other sub-pixels creates the potential for serious image quality problems; However, our engineers at Dual Aperture have successfully designed a solution that enables image quality on-par with most modern cameras AND allows for all the unique features that make Dual Aperture cameras so special.</p>
                                <p>Take a look!</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-md-6">
                                    <h4>Dual Aperture</h4>
                                    <div id="carousel-da" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-da" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-da" data-slide-to="1"></li>
                                            <li data-target="#carousel-da" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="/assets/cigar_DA.jpg" alt="Cigar - Dual Aperture">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/cigar_DA.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="/assets/gazebo_DA.jpg" alt="Gazebo - Dual Aperture">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/gazebo_DA.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="/assets/pool_DA.jpg" alt="Pool - Dual Aperture">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/pool_DA.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-da" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-da" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-sm-12 col-md-6">
                                    <h4>Sony DSC-T7 Point and Shoot</h4>
                                    <div id="carousel-ps" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-da" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-da" data-slide-to="1"></li>
                                            <li data-target="#carousel-da" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="/assets/cigar_point_n_shoot.jpg" alt="Cigar - Sony DSC-T7 Point and Shoot">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/cigar_point_n_shoot.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="/assets/gazebo_point_n_shoot.jpg" alt="Gazebo - Sony DSC-T7 Point and Shoot">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/gazebo_point_n_shoot.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="/assets/pool_point_n_shoot.jpg" alt="Pool - Sony DSC-T7 Point and Shoot">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/pool_point_n_shoot.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-da" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-da" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-md-6">
                                    <h4>Samsung Smartphone GT-S5230</h4>
                                    <div id="carousel-sa" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-da" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-da" data-slide-to="1"></li>
                                            <li data-target="#carousel-da" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="/assets/cigar_samsung.jpg" alt="Cigar - Samsung Smartphone GT-S5230">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/cigar_samsung.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="/assets/gazebo_samsung.jpg" alt="Gazebo - Samsung Smartphone GT-S5230">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/gazebo_samsung.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="/assets/pool_samsung.jpg" alt="Pool - Samsung Smartphone GT-S5230">
                                                <div class="carousel-caption">
                                                    <p><a href="/assets/pool_samsung.jpg" target="_blank">View Full Size</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-da" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-da" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-sm-12 col-md-6" style="padding-top: 40px;">
                                    <table class="table">
                                        <tr>
                                            <th>Dual Aperture</th>
                                            <th>Sony DSC-T7</th>
                                            <th>Samsung Smartphone GT-S5230</th>
                                        </tr>
                                        <tr>
                                            <td>Lens: 3.7mm, F2.8 (RGB), F6.0 (IR)</td>
                                            <td>Lens: 38 - 114 mm, F3.5 - F4.4 (RGB)</td>
                                            <td>Lens: Not Available</td>
                                        </tr>
                                        <tr>
                                            <td>Resolution: 3.2 Mega Pixels</td>
                                            <td>Resolution: 5.1 Mega Pixels</td>
                                            <td>Resolution: 3.2 Mega Pixels</td>
                                        </tr>
                                        <tr>
                                            <td>Sensor Type: CMOS 4 Colors (RGBI)</td>
                                            <td>Sensor Type: CCD Bayer (RGGB)</td>
                                            <td>Sensor Type: CMOS Bayer (RGGB)</td>
                                        </tr>
                                        <tr>
                                            <td>Sensor Size: 1/4”</td>
                                            <td>Sensor Size: 1/2.4”</td>
                                            <td>Sensor Size: 1/4”</td>
                                        </tr>
                                        <tr>
                                            <td>Sensor Manufacturer: SK Hynix</td>
                                            <td>Sensor Manufacturer: Sony</td>
                                            <td>Sensor Manufacturer: SK Hynix</td>
                                        </tr>
                                        <tr>
                                            <td>Date Pictures Taken: August 2013</td>
                                            <td>Date Pictures Taken: August 2013</td>
                                            <td>Date Pictures Taken: August 2013</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=400px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:40px;" allowTransparency="true"></iframe>
                        </article>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <article id="post_1" class="posts">
                            <h3>Introducing Dual Aperture</h3>
                            <div class="description">
                                <p>For the last decade, consumer camera technologies were engaged in an arms race for more megapixels.</p> 
                                <p>We're here to bring a revolution to the arms race.</p>
                                <p>Over the next few months, we will be unveiling several new features through a series of blog posts. Today, we are proud to introduce our revolutionary Dual Aperture technology, starting with our take on gesture tracking in the video below. Enjoy!</p>
                            </div>
                            <div class="embedded_link">
                                <iframe src="//player.vimeo.com/video/83994553?portrait=0&byline=0" width="600" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=400px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:40px;" allowTransparency="true"></iframe>
                        </article>
                    </div>
                </div>
                <hr/>
            </section>

            <% include ../partials/subscr %>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/tools %>

    <% include ../partials/scripts %>
    
</body>
</html>
