<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>

        <div class="jumbotron">
            <div class="container">
                &nbsp;
            </div>
        </div>

        <section id="blog_posts_main">
            <article id="blog_posts">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span4"></div>
                            <div class="span8">
                                <article id="post_3">
                                    <h3>Dual Aperture Featured in EE Times!</h3>
                                    <p>
                                        <div class="description">
                                            <p>
                                                Dual Aperture has been included in the EE Times 
                                                <a href='http://www.eetimes.com/document.asp?doc_id=1323068&page_number=4' class='dark'>Silicon 60: Hot Startups to Watch!</a>
                                            </p>
                                        </div>
                                    </p>
                                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=100px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100pxpx; height:80px;" allowTransparency="true"></iframe>
                                </article>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4"></div>
                            <div class="span8">
                                <article id="post_2">
                                    <h3>What about Image Quality?</h3>
                                    <p>
                                        <div class="description">
                                            <p>We will be diving deeper on each of the Dual Aperture camera's unique features, but first, let's take a look at picture quality.</p>
                                            <p>The Dual Aperture camera's unique features are made possible because its sensor doesn't use the traditional Bayer sensor model. Instead of a RGBG filter, the Dual Aperture sensor uses a modified filter that replaces the second green sub-pixel with an infra-red sub-pixel.</p>
                                            <p>So what does this mean for picture quality? The absence of a second green sub-pixel and the possibility of infrared leakage onto the other sub-pixels creates the potential for serious image quality problems; However, our engineers at Dual Aperture have successfully designed a solution that enables image quality on-par with most modern cameras AND allows for all the unique features that make Dual Aperture cameras so special.</p>
                                            <p>Take a look!</p>
                                            <div class="image-row">
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <a href="/assets/cigar_DA.jpg" class="fancybox large_comparison_image" title="Dual Aperture"><img alt="Cigar da" class="small_comparison_image" src="/assets/cigar_DA-ed6e140b8f7b785896d57d15a80ce810.jpg" /></a>
                                                    </div>
                                                    <div class="span4">
                                                        <a href="/assets/cigar_point_n_shoot.jpg" class="fancybox large_comparison_image" title="Point and Shoot"><div><img alt="Cigar point n shoot" class="small_comparison_image" src="/assets/cigar_point_n_shoot-beda61047e4f57cae4a34020c1779abd.jpg" /></div></a>
                                                    </div>
                                                    <div class="span4">
                                                        <a href="/assets/cigar_samsung.jpg" class="fancybox large_comparison_image" title="Samsung"><div><img alt="Cigar samsung" class="small_comparison_image" src="/assets/cigar_samsung-49c74ae84b41d14a5381e2edf62d553f.jpg" /></div></a>
                                                    </div>
                                                </div><br>
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <a href="/assets/gazebo_DA.jpg" class="fancybox large_comparison_image" title="Dual Aperture"><img alt="Gazebo da" class="small_comparison_image" src="/assets/gazebo_DA-d5ea70415a8580327cc80f0d93f672b0.jpg" /></a>
                                                    </div>
                                                    <div class="span4">
                                                        <a href="/assets/gazebo_point_n_shoot.jpg" class="fancybox large_comparison_image" title="Point and Shoot"><div><img alt="Gazebo point n shoot" class="small_comparison_image" src="/assets/gazebo_point_n_shoot-f5183676fdce7cfdb32afa2ee006b4b6.jpg" /></div></a>
                                                    </div>
                                                    <div class="span4">
                                                        <a href="/assets/gazebo_samsung.jpg" class="fancybox large_comparison_image" title="Samsung"><div><img alt="Gazebo samsung" class="small_comparison_image" src="/assets/gazebo_samsung-411a40f6943453ecfcaa50ca68fd6c13.jpg" /></div></a>
                                                    </div>
                                                </div><br>
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <a href="/assets/pool_DA.jpg" class="fancybox large_comparison_image" title="Dual Aperture"><img alt="Pool da" class="small_comparison_image" src="/assets/pool_DA-c5052e0479c0675fb3e38d8f6f30b0bd.jpg" /></a>
                                                    </div>
                                                    <div class="span4">
                                                        <a href="/assets/pool_point_n_shoot.jpg" class="fancybox large_comparison_image" title="Point and Shoot"><div><img alt="Pool point n shoot" class="small_comparison_image" src="/assets/pool_point_n_shoot-5de5b8af9c898641a9902c01d6ef3a56.jpg" /></div></a>
                                                    </div>
                                                    <div class="span4">
                                                        <a href="/assets/pool_samsung.jpg" class="fancybox large_comparison_image" title="Samsung"><div><img alt="Pool samsung" class="small_comparison_image" src="/assets/pool_samsung-e48762284599413bddc6ae5c083ca15c.jpg" /></div></a>
                                                    </div>
                                                </div><br>
                                                <table class="table">
                                                    <tr>
                                                        <th>Dual Aperture</th>
                                                        <th>Sony DSC-T7</th>
                                                        <th>Samsung Smartphone GT-S5230</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Lens: 3.7mm, F2.8 (RGB), F6.0 (IR)</td>
                                                        <td>Lens: 38 - 114 mm, F3.5 - F4.4 (RGB)</td>
                                                        <td>Lens: Not Available</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Resolution: 3.2 Mega Pixels</td>
                                                        <td>Resolution: 5.1 Mega Pixels</td>
                                                        <td>Resolution: 3.2 Mega Pixels</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sensor Type: CMOS 4 Colors (RGBI)</td>
                                                        <td>Sensor Type: CCD Bayer (RGGB)</td>
                                                        <td>Sensor Type: CMOS Bayer (RGGB)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sensor Size: 1/4”</td>
                                                        <td>Sensor Size: 1/2.4”</td>
                                                        <td>Sensor Size: 1/4”</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sensor Manufacturer: SK Hynix</td>
                                                        <td>Sensor Manufacturer: Sony</td>
                                                        <td>Sensor Manufacturer: SK Hynix</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Date Pictures Taken: August 2013</td>
                                                        <td>Date Pictures Taken: August 2013</td>
                                                        <td>Date Pictures Taken: August 2013</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </p>
                                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=100px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100pxpx; height:80px;" allowTransparency="true"></iframe>
                                </article>
                            </div>
                        </div>
                        <div class="row-fluid">        
                            <div class="span4">
                                </div>
                            <div class="span8">
                                <article id="post_1" class="posts">
                                    <h3>Introducing Dual Aperture</h3>
                                    <div class="description">
                                        <p>For the last decade, consumer camera technologies were engaged in an arms race for more megapixels.</p> 
                                        <p>We're here to bring a revolution to the arms race.</p>
                                        <p>Over the next few months, we will be unveiling several new features through a series of blog posts. Today, we are proud to introduce our revolutionary Dual Aperture technology, starting with our take on gesture tracking in the video below. Enjoy!</p>
                                    </div>
                                    <div class="embedded_link">
                                        <iframe src="//player.vimeo.com/video/83994553?portrait=0&byline=0" width="600" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=100px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100pxpx; height:80px;" allowTransparency="true"></iframe>
                                </article>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div id="sidebar" class="span3">
                        <h4>Sign up for our newsletter!</h4>
                        <p>
                            Enter your email address below to receive updates on the latest developments for our product.
                        </p>
                        Email Address<br>
                        <input></input>
                        <button name="button" type="submit">Submit</button>
                    </div>
                </div>
            </article>
        </section>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="portraitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title member_name"></h4>
                    <h4 class="modal-title company_title"></h4>
                </div>
                <div class="modal-body">
                    <p>hello</p>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/scripts %>
    
</body>
</html>
