<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="careers">

                <div class="row">
                    <header>
                        <div class="col-md-12">
                            <h1>Careers</h1>
                            <p>To apply, contact <a href="mailto:hr@dual-aperture.com">hr@dual-aperture.com</a></p>
                        </div>
                    </header>
                </div>

                <br/>

                <div class="row">
                    <div class="panel panel-default col-md-12">
                        <div class="panel-body">

                            <h3>Hardware System Design Engineer</h3>

                            <p>The hardware system design engineer will perform FPGA / Firmware and Hardware Board Design activities for various DA camera system projects. Works with Hardware Engineering Team to complete Firmware and Hardware Development, Simulation and Verification for digital signal processing and general processing projects regarding the development of 3-dimensional imaging system, which was developed for depth sensing as well as color imaging using 3-color and 4-color CMOS Image Sensor.</p>

                            <h4>Responsibility:</h4>

                            <ul>
                                <li>Hardware systems design including FPGA, or ASIC implementation for such 3-D image processing-intensive algorithms, especially with special emphasis on efficient memory access </li>
                                <li>Camera system design for depth sensing, low-light imaging, and color engineering</li>
                                <li>Create and maintain artifacts (models, diagrams, documents) by evaluating needs, clarifying requirements, and analyzing use cases and dependencies to functional specifications to support hardware and software development at system and component level</li>
                                <li>Analyze problems involving cross-disciplinary aspects of the product development process</li>
                                <li>Develop and exploit structured, efficient approaches to analysis and design to solve complex engineering problems</li>
                                <li>Provide direction and support for the optimal design of complex, large scale systems through consideration of the system as a whole</li>
                                <li>Provide various client areas with accurate and consistent requirements information to help them make critical technical decisions based on complete and unambiguous insight into cross-systems functionality</li>
                            </ul>

                            <h4>Qualification:</h4>

                            <ul>
                                <li>Master’s degree or higher in Computer Engineering, Electrical Engineering or related field.</li>
                                <li>Minimum 10 years related professional history.</li>
                                <li>5+ years of experience in developing in embedded microprocessor and/or digital signal processor (DSP) hardware environments.</li>
                                <li>Experience in FPGA development (VHDL preferred)</li>
                                <li>Experience with Signal Processing is desired</li>
                                <li>Experience with hardware/software design and testing methodologies is required.</li>
                                <li>Experience with interfacing with high speed memories (DDR2 SDRAM, QDR2 SRAM), LVDS and/or PCIe</li>
                                <li>Demonstrates knowledge of comprehensive system-level technology</li>
                                <li>Understanding of embedded bus structures, i.e. UARTS, SPI, I2C, MIPI</li>
                                <li>Excellent skilled in common test &amp; verification SW tools (e.g. LabView)</li>
                                <li>Excellent oral and written communication skills are necessary</li>
                            </ul>

                            <p>Location: Korea preferred, other location may be considered if the right candidate.</p>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default col-md-12">
                        <div class="panel-body">

                            <h3>Image/Signal Processing Engineer</h3>

                            <p>The Image Processing Engineer will develop and test image processing and data classification algorithms for dual-aperture imaging products. The Image Processing Engineer will analyze data and develop methods using machine learning for feature extraction and classification. A critical aspect of this work is the development of 3-dimensional imaging system, which was developed for depth sensing as well as color imaging using 3-color and 4-color CMOS Image Sensor. The Image Processing Engineer will create visual interpretations of data and methods, write reports, and create presentations. The Image Processing Engineer will work as part of a multidisciplinary team including expertise in algorithm, software, electronics, and mechanical design.</p>

                            <h4>Responsibilities:</h4>

                            <ul>
                                <li>Development of algorithms for depth extraction based on depth from defocus(DFD)</li>
                                <li>Development of algorithms for depth extraction based on the hybrid approach of depth from defocus (DFD) and other principles such as stereo matching or structured light, etc.</li>
                                <li>Development of algorithms for edge extraction, depth extraction and color restoration along using various noise filtering techniques</li>
                                <li>Development of color processing algorithms including strong false color suppression along edges, clipped color reconstruction at saturated regions, aliased noisy color removal</li>
                                <li>Development of image enhancement algorithms including SNR enhancement, wide dynamic range using IR channel, and re-focus or defocus magnification using all-focused reference channel</li>
                                <li>Development of lens compensation algorithms for optical distortions including aberration, diffraction, and lens shading</li>
                            </ul>

                            <h4>Qualifications:</h4>

                            <ul>
                                <li>Master’s degree or higher in Computer Science, Computer Engineering, Electrical Engineering or related field</li>
                                <li>10+ years of experience of software experience developing real-time signal or image processing software</li>
                                <li>Strong image processing knowledge</li>
                                <li>Excellent skilled in C/C++, Python, MATLAB, or similar tools</li>
                                <li>Experience with imaging systems, illumination systems, LEDs, and photodetectors is highly valued.</li>
                                <li>Familiarity with GPU orientated language extensions such as OpenGL and OpenCL</li>
                                <li>Ability to develop algorithms, to test them in simulation, and to design and execute laboratory and field experiments</li>
                                <li>Familiarity with real-time image processing applications such as image fusion, motion compensation and tracking including camera and image capture technologies</li>
                                <li>Demonstrated ability to learn new development practices, languages, and tools</li>
                                <li>Applicants should be well organized and have excellent verbal and written communication skills.</li>
                            </ul>

                            <p>Location: Korea preferred, other location may be considered if the right candidate.</p>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default col-md-12">
                        <div class="panel-body">

                            <h3>System software engineer</h3>

                            <p>System software engineer will develop various software with 3-dimensional imaging system, which was developed for depth sensing as well as color imaging using 3-color and 4-color CMOS Image sensor solutions. Expert C programming skills to help develop software delivering high-quality 3D graphics solutions for embedded systems. Work involves writing and maintaining in kernel programming and application programming in embedded device.</p>

                            <h4>Responsibilities:</h4>
                            <ul>
                                <li>Master’s degree or higher in Computer Science, Computer Engineering, Electrical Engineering or related field 1. Develop system software in Android and IOS environment for various depth-based smart phone applications</li>
                                <li>Understanding a structured software development lifecycle</li>
                                <li>Plan implementation of software content and software issue resolutions</li>
                                <li>Read, comprehend and Interpret P&amp;ID’s, electrical drawings, technical specifications, mechanical design document and software requirements documents</li>
                                <li>Support planning of software verification for assigned projects</li>
                                <li>Cross work with offshore resource teams for assigned projects</li>
                                <li>Integrate software and perform unit and integration testing</li>
                            </ul>

                            <h4>Qualifications:</h4>
                            <ul>
                                <li>Bachelor’s or higher in computer science or computer engineering</li>
                                <li>5+ years of experience with modern 3D graphics APIs like OpenGL, OpenGL-ES, or Direct3D.</li>
                                <li>7+ years of experience in C/C++ programming to write correct and efficient code quickly, and great at debugging low-level drivers</li>
                                <li>Proficiencies with the following development tools: CMake, Eclipse, gcc / gdb, git, Google Test / Google Mock, Hudson / Jenkins, Rally, Visual Studio</li>
                                <li>Experience with cross compilers and cross assemblers</li>
                                <li>Knowledge of modern C++11 / C++14 language extensions and idioms</li>
                                <li>Understanding of software development techniques and methodologies</li>
                                <li>Experience with ample and in-depth experience in kernel programming, application programming in Android, iOS environment for various depth-based smart phone applications</li>
                                <li>Candidate should be comfortable working in a team, be a great communicator, and have the skills, experience, and maturity to help us deliver high quality software on schedule</li>
                                <li>Excellent oral and technical writing skills.</li>
                            </ul>

                            <p>Location: Korea preferred, other location may be considered if the right candidate.</p>

                        </div>
                    </div>
                </div>


            </section>

            <% include ../partials/subscr %>

        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/tools %>

    <% include ../partials/scripts %>

</body>
</html>
