<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>

        <div class="jumbotron min"></div>

        <div class="container">
            <section id="faq_main">
                <div class="row">
                    <header>
                        <div class="col-md-12">
                            <h1>Questions and Answers</h1>
                        </div>
                    </header>
                </div>
                <div class="row">
                    <div class="panel-group col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q1">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a1" aria-expanded="true" aria-controls="a1">
                                        Q1. How is the Dual Aperture camera different from conventional ones?
                                    </a>
                                </h4>
                            </div>
                            <div id="a1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q1">
                                <div class="panel-body">
                                    The Dual Aperture camera uses a 4-color sensor to capture both visible and infrared spectrum data to generate an image with accurate depth information. 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a2" aria-expanded="true" aria-controls="a2">
                                        Q2. What is a 4-color sensor?
                                    </a>
                                </h4>
                            </div>
                            <div id="a2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2">
                                <div class="panel-body">
                                    A 4-color sensor utilizes 4 pixel types: red, green, blue and infrared. The RGB pixels capture visual light spectrum data and are used to create a conventional RGB image. Infrared pixels capture infrared light spectrum data and are used to enhance the image's sharpness. Differences in sharpness between the two data sets are used to estimate the depth of objects in the image.  
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q3">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a3" aria-expanded="true" aria-controls="a3">
                                        Q3. Why Dual Aperture?
                                    </a>
                                </h4>
                            </div>
                            <div id="a3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3">
                                <div class="panel-body">
                                    The Dual Aperture camera has two apertures – one for visible light and one for Infrared light; however, the infrared aperture is narrower than the visible light aperture. This difference creates a disparity in focus between the RGB and Infrared images that can then be used to measure the depth of an object in an image.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q4">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a4" aria-expanded="true" aria-controls="a4">
                                        Q4. What are the key benefits?
                                    </a>
                                </h4>
                            </div>
                            <div id="a4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4">
                                <div class="panel-body">
                                    A Dual Aperture camera can capture the 3-Dimensional depth information of objects in an image. The 3D depth information can be used to:
                                    <ol>
                                        <li>Refocus the image after the picture is taken</li>
                                        <li>Generate a 3D image for 3D TVs</li>
                                        <li>Track 3D gestures</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q5">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a5" aria-expanded="true" aria-controls="a5">
                                        Q5. How does Dual Aperture estimate 3D depth?
                                    </a>
                                </h4>
                            </div>
                            <div id="a5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5">
                                <div class="panel-body">
                                    The infrared and RGB color components are each focused differently according to the depth of the objects in the image. By using these differences, it is possible to estimate depth at each pixel without aligning the IR and RGB data.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q6">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a6" aria-expanded="true" aria-controls="a6">
                                        Q6. How is refocusing achieved?
                                    </a>
                                </h4>
                            </div>
                            <div id="a6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q6">
                                <div class="panel-body">
                                    Depth measurement enables the camera’s software to refocus the image withoutcompromising the resolution, which it would in light-filed cameras. This creates several advantages for the DA camera, including the ability to adjust the depth of field and the amount of blur.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q7">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a7" aria-expanded="true" aria-controls="a7">
                                        Q7. How can 3D gestures be recognized?
                                    </a>
                                </h4>
                            </div>
                            <div id="a7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q7">
                                <div class="panel-body">
                                    The Dual Aperture camera uses depth information to filter out unwanted movements in the background/foreground, e.g. fingers in front of face, that would normally confuse 2D gesture-tracking algorithms. It is also possible to recognize gestures that have variable depth information, e.g. back and forth movements, in order to further enhance the user experience. 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q8">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a8" aria-expanded="true" aria-controls="a8">
                                        Q8. What are the advantages of DA approach vs. other gesture tracking devices like Kinect or Leap Motion?
                                    </a>
                                </h4>
                            </div>
                            <div id="a8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q8">
                                <div class="panel-body">
                                    Kinect and Leap Motion systems require multiple sensors with elaborate LED lighting sources. The Dual Aperture system requires only a single sensor using ambient light sources, which make it possible to implement gesture tracking in small form factor cameras, e.g. mobile device cameras. The DA system also works under direct, bright sunlight (unlike Kinect) and captures high quality color images (like conventional cameras).
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q9">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a9" aria-expanded="true" aria-controls="a9">
                                        Q9. How does DA's image quality compare to other Bayer pattern sensor cameras?
                                    </a>
                                </h4>
                            </div>
                            <div id="a9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q9">
                                <div class="panel-body">
                                    The Dual Aperture enables image capture that is on par with Bayer pattern sensor equipped cameras with similar specifications (in number of pixels, noise levels, and color quality).
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q10">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a10" aria-expanded="true" aria-controls="a10">
                                        Q10. How is image sharpening or noise reduction achieved?
                                    </a>
                                </h4>
                            </div>
                            <div id="a10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q10">
                                <div class="panel-body">
                                    The infrared color component can capture additional sharpness information on top of the RGB. This information can then be used to either sharpen the image or be used in noise-reduction algorithms that are applied to the image.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q11">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a11" aria-expanded="true" aria-controls="a11">
                                        Q11. Is the DA camera different from traditional cameras in terms of manufacturing?
                                    </a>
                                </h4>
                            </div>
                            <div id="a11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q11">
                                <div class="panel-body">
                                    The Dual Aperture camera utilizes the same form factor used in most traditional cameras, even for mobile devices. The only change to the manufacturing process is to use 2 apertures for the optical lens. The visual aperture is the same as the one used in a traditional camera and the IR aperture is created by opening a small hole in the IR filter.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q12">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a12" aria-expanded="true" aria-controls="a12">
                                        Q12. Are there any cost advantages or disadvantages compared to other similar multi-utility cameras?
                                    </a>
                                </h4>
                            </div>
                            <div id="a12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q12">
                                <div class="panel-body">
                                    The Dual Aperture camera has lower manufacturing costs when compared to other similar depth measurement technologies that require additional sensors, special infrared light sources, and complex computing for image alignment.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q13">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a13" aria-expanded="true" aria-controls="a13">
                                        Q13. What are the power consumption and computing requirements for the DA camera? Can it be used in low power mobile devices?
                                    </a>
                                </h4>
                            </div>
                            <div id="a13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q13">
                                <div class="panel-body">
                                    The Dual Aperture camera has the same power consumption requirements as a conventional camera when capturing an image; however, generating depth information does require additional processing in the main processor (AP) of mobile devices. For gesture tracking, DA maintains low power and computing by using minimum pixels and video frame rate.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q14">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a14" aria-expanded="true" aria-controls="a14">
                                        Q14. What types of applications are best suited for the DA camera?
                                    </a>
                                </h4>
                            </div>
                            <div id="a14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q14">
                                <div class="panel-body">
                                    Dual Aperture is well suited for mobile applications that incorporate photography and gesture control. There are also use cases that extend to controlling TVs via gestures and enhancing safety in automobiles.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q15">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a15" aria-expanded="true" aria-controls="a15">
                                        Q15. Does DA make the camera? What does DA provide?
                                    </a>
                                </h4>
                            </div>
                            <div id="a15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q15">
                                <div class="panel-body">
                                    Dual Aperture does not manufacture the actual cameras. DA provides licenses to sensor and camera manufacturers to manufacture the camera as well as the software algorithms involved in touch refocus, 3D images, 3D depth estimation, and image enhancement.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q16">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a16" aria-expanded="true" aria-controls="a16">
                                        Q16. Is the DA sensor available?
                                    </a>
                                </h4>
                            </div>
                            <div id="a16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q16">
                                <div class="panel-body">
                                    Yes. A 3.2M pixel mobile sensor sample is currently available. Other resolution sensors are currently under development and will be made available in 2014.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q17">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a17" aria-expanded="true" aria-controls="a17">
                                        Q17. When will the first camera prototype be available? For which platforms?
                                    </a>
                                </h4>
                            </div>
                            <div id="a17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q17">
                                <div class="panel-body">
                                    The first camera prototype will be available in Q1 2014 as a standalone USB camera.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="q18">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a18" aria-expanded="true" aria-controls="a18">
                                        Q18. What can consumers expect from the DA camera?
                                    </a>
                                </h4>
                            </div>
                            <div id="a18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q18">
                                <div class="panel-body">
                                    They can expect to be able to capture regular pictures and manipulate the depth information via various photograph applications.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% include ../partials/subscr %>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/tools %>

    <% include ../partials/scripts %>
    
</body>
</html>
