<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>
        <div class="jumbotron">
            <div class="container">
                <h1>A NEW HORIZON IS COMING...</h1>
                <p>Sign up to receive updates</p>
                <p><a class="btn btn-primary btn-lg" href="#subscribe" role="button">Subscribe &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h2>The Technology</h2>
                    <p>3D image capturing and other imaging enhancements create a multi-functional, low cost smart sensor technology that can be integrated into many consumer, automotive, and industrial products.</p>
                    <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
             </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <% include ../partials/subscr %>

        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/tools %>

    <% include ../partials/scripts %>
    
</body>
</html>
