<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header %>

    <main>
        <div class="jumbotron">
            <div class="container">
                <h1>A NEW HORIZON IS COMING...</h1>
                <p>Sign up to receive updates</p>
                <p><a class="btn btn-primary btn-lg" href="#subscribe" role="button">Subscribe &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <% if (user) { %>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default" id="aLogout">Logout</button>
                    </div>
                </div>
            <% } %>

            <div class="row">
                <div class="col-sm-0 col-md-2"></div>
                <div class="col-sm-12 col-md-8">

                    <div class="videoWrapper">

                        <iframe src="//fast.wistia.net/embed/iframe/wf3lnzbuq9"
                            allowtransparency="true" frameborder="0" scrolling="no"
                            class="wistia_embed" name="wistia_embed" allowfullscreen
                            mozallowfullscreen webkitallowfullscreen oallowfullscreen
                            msallowfullscreen width="640" height="360"></iframe>

                    </div>

                </div>
                <div class="col-sm-0 col-md-2"></div>
            </div>

            <% include ../partials/subscr %>

        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/tools %>

    <% include ../partials/scripts %>
    
</body>
</html>
