// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog_posts_main {
  padding-top: 75px;
  background-color: darkGray;

  hr {
    height: 1px;
    background-color: black;
    border: 0px;
  }

  article#blog_posts {
    padding-right: 75px;

    .description {
      padding-bottom: 20px;
    }
  }

  article.reblog {
    margin-top: 10px;

    .post_created_at {
      padding-top: 10px;
    }
  }

  .image-row {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    .large_comparison_image {
      width: 300px;
      height: 183px;
    }

    .small_comparison_image {
      width: 150px;
      height: 100px;
    }

    .captions {
      font-weight: bold;
    }
  }
}

#sidebar {
  padding-bottom: 50px;
}

#fancybox-content {
  width: 300px;
  height: 183px;
}