/* universal */

/* icons */
.media-small {
  width: 30px;
  height: 30px;
}

.media-large {
  width: 150px;
  height: 150px;
}

/* header */
.header-nav div {
  float: none;
  margin: 0 auto;
  display: inline-block;
}

.home-link {
}

.product-nav-item { 
}

.about-nav-item {
}