// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home */
#home_main {
  margin-bottom: -20px;

  #email_signup {
    h2 {
      color: white;
      left: 50%;
      margin-left: -190px;
      bottom: 60%;
      position: absolute;
    }

    .signup_form {
      left: 50%;
      margin-left: -147px;
      bottom: 50%;
      position: absolute;

      input {
        margin-bottom: 0px;
      }
    }
  }

  #home_carousel {
    #banner {
      background-image: image-url('DA_background1.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    #stereograms {
      background-image: image-url('3D_large.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    #gesture_tracking {
      background-image: image-url('hands_gesturing_large.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    #refocus_tulips {
      background-image: image-url('refocus_tulips.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    h2 {
      color: white;
      font-weight: none;
      background: transparent;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 0px;
      padding-top: 375px;
      padding-bottom: 475px;
    }  
  }
}

/* About */

#about_main {
  background-color: darkGray;
  margin-bottom: -10px;

  .container {
    background-color: lightGray;
  }

  header {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;

    h3 {
      text-align: right;
    }
  }

  #biographies {
    padding-left: 50px;
    padding-right: 75px;
    padding-bottom: 50px;

    h4 {
      text-align: center;
    }

    .portrait {
      padding-left: 50%;
      margin-left: -100px;
    }

    p {
      padding-left: 25px;
    }
  }

  #google_maps_section {
    margin-bottom: 5px;
  }
}

/* Press */
#press_main {
  background-color: darkGray;
  margin-bottom: -10px;

  .container {
    background-color: lightGray;
  }

  header {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;

    h4 {
      text-align: right;
    }
  }

  #press_releases {
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 50px;
  }

  #google_maps_section {
    margin-bottom: 5px;
  }
}
