// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Test Main */
#test_main {
  margin-bottom: -30px;
  #home_hero_unit {
    background-image: image-url('golden_gate_1.jpg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
      
      h1 {

        text-align: center;
        color: white;
      }

      #email_signup {
        h2 {
          color: white;
          text-align: center;
        }

        .signup_form {
          text-align: center;

          input {
            margin-bottom: 0px;
          }
        }
      }

  }
}

/* Home */
#home_main {
  margin-bottom: -30px;
  #home_hero_unit {
    background-image: image-url('DA_background1.jpg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
      
      h1 {

        text-align: center;
        color: white;
      }

      #email_signup {
        h2 {
          color: white;
          text-align: center;
        }

        .signup_form {
          text-align: center;

          input {
            margin-bottom: 0px;
          }
        }
      }

  }

  #home_carousel {
    #banner {
      background-image: image-url('DA_background1.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    #stereograms {
      background-image: image-url('3D_large.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    #gesture_tracking {
      background-image: image-url('hands_gesturing_large.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    #refocus_tulips {
      background-image: image-url('refocus_tulips.jpg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      color: white;      
    }

    h2 {
      color: white;
      font-weight: none;
      background: transparent;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 0px;
      padding-top: 375px;
      padding-bottom: 475px;
    }  
  }
}

/* About */

#about_main {
  background-color: darkGray;
  margin-bottom: -10px;

  .container {
    background-color: lightGray;
  }

  header {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;

    h3 {
      text-align: right;
    }
  }

  #biographies {
    font-family: "Helvetica Neue";
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    h1 {
      padding-left: 20px;
      padding-bottom: 30px;
    }

    h4 {
      text-align: left;
      margin-top: 20px;
      margin-left: 30px;
      margin-bottom: 0px;
    }

    .company_title {
      margin-top: 0px;
      color: #999999;
    }

    .portrait {
      padding-left: 50%;
      margin-left: -65px;
      width: auto;
      height: 130px;
    }
  }

  #about {
    font-family: "Helvetica Neue";
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 30px;
    }  
  }

  #advisory_board {
    font-family: "Helvetica Neue";
    padding-left: 50px;
    margin-left: 30px;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 30px;
    }

    p {
      margin-left: 0px;
      padding-left: 0px;
    }

    a {
      color: black;
      font-weight: bold;
      &:hover {
        color: #aac752;
        text-decoration: none;  
      }
    }
  }

  #google_maps_section {
    margin-bottom: 11px;
  }

  p {
    font-size: small;
    margin-left: 30px;
    margin-right: 30px;
  }

  .row-fluid {
    margin-bottom: 50px;
  }
}

/* Press */
#press_main {
  background-color: darkGray;
  margin-bottom: -10px;

  .container {
    background-color: lightGray;
  }

  header {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;

    h4 {
      text-align: right;
    }
  }

  #press_releases {
    font-family: "Helvetica Neue";
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 50px;
  }
}

/* FAQ */
#faq_main {
  background-color: darkGray;
  padding-bottom: 30px;

  .container {
    width: 600px;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .question {
    background-color: Gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }

  .answer {
    margin-bottom: 20px;
  }

  ol {
    margin-bottom: 20px;
  }
}

/* Sign up page */
.devise_pages {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 577px;
  background-color: darkGray;

  a {
    color: black;
  }
}