<div class="container">
  <div class="page-header">
    <h1>
      Example page header <small>Subtext for header</small>
    </h1>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active divider-vertical"><%= link_to "Home", home_path %></li>
        <li class="divider-vertical"><%= link_to "About", about_path %></li>
        <li class="divider-vertical"><%= link_to "Features", features_path %></li>
        <li class="divider-vertical"><%= link_to "Blog", blog_posts_path %></li>
      </ul>
    </div>
  </div>
</div>