<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <%= link_to(image_tag("DA_logo_v4.png", class: 'logo media-small'), main_app.home_path) %>
        </div>
        <div class="span6">
          <ul class="nav pull-right">
            <li><%= link_to "ABOUT", main_app.about_path %></li>
            <li><%= link_to "PRESS", main_app.press_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
